<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>alice</fullName>
  <properties>
    <hudson.model.MyViewsProperty>
      <primaryViewName>All</primaryViewName>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>hWlWwy:dd85aa451f437bd739f2ee7f958cd22d28b746dd62bf9caf0a369925169145b6</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>alice@example.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>