<?xml version='1.0' encoding='UTF-8'?>
<hudson>
  <numExecutors>2</numExecutors>
  <authorizationStrategy class="hudson.security.AuthorizationStrategy$Unsecured"/>
  <securityRealm class="hudson.security.SecurityRealm$None"/>
  <jdks/>
  <slaves>
    <slave>
      <name>test</name>
      <description></description>
      <remoteFS>/tmp</remoteFS>
      <numExecutors>1</numExecutors>
      <mode>NORMAL</mode>
      <agentCommand>echo from CLI</agentCommand>
      <label></label>
    </slave>
  </slaves>
  <quietPeriod>5</quietPeriod>
  <slaveAgentPort>0</slaveAgentPort>
  <secretKey>ede47f10a483fb5bcc4ffe063a7890b847c31baffcecb124305738bc0d969b3d</secretKey>
</hudson>