<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>bob</fullName>
  <properties>
    <hudson.model.MyViewsProperty>
      <primaryViewName>All</primaryViewName>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>zNMhSw:2d42c2730e9b405dcf091e33e4269e7fa2ae8020d167abc60a1cdc0112d72d7a</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>bob@example.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>