@use "../base/breakpoints";
@use "../components/cards";
@use "../components/dialogs";

.app-settings-agent-container {
  width: 100% !important;
  max-width: 1700px !important;
}

.app-agent-bar::before {
  content: "";
  background-color: unset !important;
  border-bottom: unset !important;
}

.app-agent-content .jenkins-card:has(.jenkins-card__content:empty),
.app-agent-content .widget-refresh-reference {
  display: none;
}

.app-agent-content .tabBar {
  width: fit-content;
}

.app-agent-content #projectStatus {
  margin-bottom: 0;
}

.app-agent-overview__content {
  display: flex;
  flex-direction: column;
  gap: calc(var(--section-padding) / 2);
}

.app-agent-overview__grid {
  gap: calc(var(--section-padding) / 2);
  display: flex;

  @media (width <= 1430px) {
    flex-direction: column;
  }
}

.app-agent-overview__widgets {
  display: flex;
  flex-direction: column;
  gap: calc(var(--section-padding) / 2);

  @media (1024px < width <= 1430px) {
    flex-flow: row wrap;
    width: 100%;
  }

  @media (max-width: breakpoints.$tablet-breakpoint) {
    flex-flow: row wrap;
    width: 100%;
  }

  & > div.pane-frame {
    min-width: 275px;
    margin-bottom: 0;

    @media (width <= 1430px) {
      flex-grow: 1;
    }

    @media (width > 1430px) {
      max-width: 330px;
    }
  }
}

.app-agent-overview__cards {
  display: flex;
  flex-direction: column;
  gap: calc(var(--section-padding) / 2);
  width: 100%;
  flex-grow: 1;

  .jenkins-table {
    margin-bottom: 0;
    border-spacing: 2px;

    td {
      padding-right: calc(var(--table-padding) * 2);
    }
  }
}

.app-agent-content .jenkins-details .jenkins-button {
  min-height: 2rem;
}

.app-agent-overview__labels {
  display: flex;
  gap: 0.25rem 0;
  flex-direction: row !important;
  flex-wrap: wrap;

  .jenkins-notice {
    margin-bottom: 0;
    min-height: revert;
  }
}

.app-agent-configure {
  display: flex;
  gap: var(--section-padding);

  &__content {
    flex-grow: 1;
  }
}

.app-agent-details {
  display: flex;
  flex-direction: column;
  background: var(--card-background);
  border: var(--card-border-width) solid var(--card-border-color);
  border-radius: var(--form-input-border-radius);

  &__line {
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: var(--card-border-width) solid var(--card-border-color);
    padding: 0.5rem 0.75rem;

    & > div:last-of-type {
      margin-left: auto;
    }
  }
}
