@use "../base/breakpoints";
@use "../components/cards";
@use "../components/dialogs";

.build-caption-progress-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px;
}

.app-build__grid {
  gap: calc(var(--section-padding) / 2);

  & > * {
    height: 350px;
    min-width: 0;
  }

  // Legacy card shouldn't have a fixed height
  .jenkins-card:last-of-type {
    height: unset;
    min-height: 350px;
  }

  @media (width < 1000px) {
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr 1fr;

    .jenkins-card__content .app-console-output-widget {
      max-height: 300px;
    }
  }

  @media (width >= 1000px) {
    display: grid;
    justify-content: stretch;
    grid-template-columns: 1fr 1fr;

    & > div {
      overflow: clip;

      &:first-of-type {
        grid-column: span 1;
      }

      &:last-of-type {
        grid-column: span 2;
      }
    }

    .jenkins-card__content .app-console-output-widget {
      height: 300px;
    }
  }

  @media (width >= 1300px) {
    grid-template-columns: 1fr 1fr 1fr;

    & > div {
      &:first-of-type {
        grid-column: span 2;
      }

      &:last-of-type {
        grid-column: span 3;
      }
    }
  }

  @media (width >= 1600px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;

    & > div {
      &:first-of-type {
        grid-column: span 3;
      }

      &:last-of-type {
        grid-column: span 4;
      }
    }
  }

  @media (width >= 1900px) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    & > div {
      &:first-of-type {
        grid-column: span 4;
      }

      &:last-of-type {
        grid-column: span 5;
      }
    }
  }
}

.app-build-overflow {
  #side-panel {
    width: 250px !important;

    #tasks {
      margin: 0;

      .task {
        margin-left: unset !important;
      }
    }
  }
}

.app-console-output-widget {
  overflow-y: auto;
  margin: 0 -#{cards.$card-padding} -#{cards.$card-padding};
  padding: 0 cards.$card-padding cards.$card-padding;

  pre {
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;
    line-height: 1.75;
    font-size: var(--font-size-sm);
  }
}

.app-parameters-dialog {
  display: flex;
  flex-direction: column;
  gap: dialogs.$jenkins-dialog-padding;

  & > * {
    margin-bottom: 0;
  }
}

@keyframes app-build-bar-border-on-scroll {
  from {
    border-bottom-color: color-mix(
      in sRGB,
      var(--jenkins-border-color),
      transparent
    );
  }

  to {
    border-bottom-color: var(--jenkins-border-color);
  }
}

.app-build-bar {
  --app-build-bar-border-color: color-mix(
    in sRGB,
    var(--jenkins-border-color),
    transparent
  );

  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  gap: 0.5rem 1.5rem;
  min-height: var(--header-height);
  background-color: color-mix(in sRGB, transparent 25%, var(--top));
  padding-inline: var(--section-padding);
  z-index: 102;
  border-bottom: var(--jenkins-border-width) solid
    var(--app-build-bar-border-color);
  margin-left: calc(var(--section-padding) * -1);
  margin-right: calc(var(--section-padding) * -1);

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    pointer-events: none;
    backdrop-filter: blur(15px);
  }

  @supports (animation-timeline: scroll()) {
    animation-name: app-build-bar-border-on-scroll;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-timing-function: linear;
    animation-timeline: scroll(nearest block);
    animation-range: 0 var(--header-height);
  }

  @media (width < 740px) {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-block: var(--section-padding);
  }

  .app-build-bar__content {
    display: inline-flex;
    align-items: center;
    justify-content: start;
    min-height: 38px;
  }

  .app-build-bar__tabs {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .app-build-bar__controls {
    display: inline-flex;
    align-items: center;
    justify-content: end;
    flex: 1;
    gap: 0.75rem;

    @media (width <= 600px) {
      justify-content: stretch;
    }
  }
}

.app-build-bar__content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  .app-build-bar__content__headline {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    margin-left: -0.25rem;

    svg {
      width: 2rem;
      height: 2rem;
    }
  }

  h1 {
    margin-bottom: 0;
    font-size: 1.25rem;
  }

  .jenkins-button {
    border-radius: 100px;
    aspect-ratio: 1;
    padding: 0;
    margin-inline: -1rem;
    transition: translate var(--standard-transition);

    &:not(:hover) {
      color: color-mix(
        in sRGB,
        var(--text-color-secondary) 75%,
        transparent
      ) !important;
    }

    &::before,
    &::after {
      inset: 7px;
    }

    svg {
      width: 1rem;
      height: 1rem;

      * {
        stroke-width: 45px;
      }
    }
  }

  .app-build__navigation-previous:hover {
    translate: -0.0625rem 0;
  }

  .app-build__navigation-next:hover {
    translate: 0.0625rem 0;
  }
}

.app-page-body__contents:has(.app-build-bar) {
  padding-top: 0;
}

.app-build-content {
  display: flex;
  flex-direction: column;
  padding: 0 var(--section-padding);
  margin-inline: calc(var(--section-padding) * -1);

  // This is horrible
  // TODO - Do this properly
  min-height: calc(
    100vh - var(--header-height) - var(--header-height) - var(
        --page-inset
      ) - var(--section-padding) - var(--jenkins-border-width) - var(
        --jenkins-border-width
      )
  );

  .jenkins-app-bar {
    margin-block: 1.0625rem;
  }
}
