@use "about";
@use "build";
@use "build-comparison";
@use "dashboard";
@use "icon-legend";
@use "job";
@use "manage-jenkins";
@use "plugin-manager";
@use "setupWizardFirstUser";
@use "setupWizardConfigureInstance";
