@use "../abstracts/mixins";

#side-panel {
  #buildHistoryPage {
    margin: 10px 0 10px 10px;
  }
}

#buildHistoryPage {
  .jenkins-search {
    margin-inline: -0.25rem;
    margin-bottom: 5px;
  }

  #jenkins-builds .jenkins-card__content {
    overflow: visible;
  }
}

.app-builds-container {
  transition: opacity var(--standard-transition);

  &__items {
    margin-bottom: -0.5rem;
  }

  &__placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 3rem;
    animation: fade-in-builds-placeholder var(--standard-transition);

    @keyframes fade-in-builds-placeholder {
      from {
        opacity: 0;
      }
    }
  }

  &__heading {
    display: flex;
    font-size: 0.75rem;
    color: var(--text-color-secondary);
    margin-top: 10px;
    font-weight: var(--font-bold-weight);
    margin-bottom: 4px;
  }

  &__controls {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin: 0 -0.35rem;
    margin-top: 1rem;
    margin-bottom: -0.5rem;

    .jenkins-button {
      padding: 10px;

      svg {
        transition: translate var(--standard-transition);
      }

      &:first-of-type {
        justify-content: start;

        &:hover {
          translate: -2px 0;

          svg {
            translate: -4px 0;
          }
        }
      }

      &:last-of-type {
        justify-content: end;

        &:hover {
          translate: 2px 0;

          svg {
            translate: 4px 0;
          }
        }
      }
    }

    .app-builds-container__button--disabled {
      color: var(--text-color-secondary) !important;
      opacity: 0.25;
      pointer-events: none;
    }
  }

  &--loading {
    opacity: 0.4;
    filter: blur(0.5px);
  }
}

.app-builds-container__item {
  @include mixins.item($border: false);

  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 0.5rem 0.65rem;
  padding: 0.25rem 0;
  margin: 0 -0.5rem;
  font-size: 0.8125rem !important;
  min-height: 2rem;

  &__icon {
    display: inline-flex;
    justify-content: center;
    padding: 0 0 0 0.5rem;
    margin-top: 0.385rem;

    svg {
      width: 1.25rem;
      height: 1.25rem;
    }
  }

  .app-builds-container__item__inner {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;

    &__link {
      display: flex;
      color: var(--text-color);
      gap: 0.5rem;
      text-decoration: none;
      font-weight: var(--font-bold-weight);
      flex-grow: 1;
      padding: 0.45rem 0 0;
      word-break: normal;
      overflow-wrap: anywhere;

      .app-builds-container__item__time {
        color: var(--text-color-secondary);
        white-space: nowrap;
      }
    }

    &__controls {
      display: flex;
      align-items: center;
      justify-content: start;
      flex-wrap: wrap;
      gap: 0.5rem;
      margin-top: 0.3rem;
    }
  }

  &--not-interactable {
    cursor: default;

    &::before,
    &::after {
      display: none;
    }

    .app-builds-container__item__description {
      margin-bottom: 0;
    }
  }

  .jenkins-jumplist-link {
    align-self: center;
  }

  &__description {
    color: var(--text-color-secondary);
    padding-left: 2.25rem;
    margin-top: -2px;
    grid-column: 1 / span 2;
    word-break: normal;
    overflow-wrap: anywhere;

    &::before {
      content: "";
      position: absolute;
      left: 17px;
      top: 34px;
      bottom: 6px;
      width: 2px;
      background: var(--text-color-secondary);
      border-radius: var(--form-input-border-radius);
      opacity: 0.3;
    }
  }
}

// Experimental UI
// Temporary classes will be adjusted and renamed in the future
// Not for external use

.app-temporary-skeleton {
  background: var(--button-background);
  border: var(--jenkins-border--subtle);
  border-radius: var(--form-input-border-radius);
  animation: pulse-skeleton 2s both ease-in-out infinite;
}

.app-temporary-list {
  display: flex;
  flex-direction: column;
  border-radius: var(--form-input-border-radius);
  background: var(--card-background);
  border: var(--jenkins-border);
  margin-bottom: var(--section-padding);

  &__item {
    --tertiary-color: var(--text-color-secondary);

    position: relative;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    transition: var(--standard-transition);
    box-shadow:
      0 0 0 0 transparent,
      0 0 0 0.5rem transparent;

    &:not(:last-of-type) {
      border-bottom: var(--jenkins-border);
    }

    &:has(
      a.app-temporary-list__item__label:active,
      a.app-temporary-list__item__label:focus-visible
    ) {
      border-bottom-color: transparent;
      border-radius: calc(var(--form-input-border-radius) / 2);
    }

    &:has(a.app-temporary-list__item__label) {
      &:hover {
        --tertiary-color: var(--text-color);

        background: var(--button-background);
      }

      &:has(.app-temporary-list__item__label:active) {
        background: var(--button-background--hover);
        box-shadow:
          0 0 0 var(--jenkins-border-width)
            color-mix(
              in sRGB,
              var(--text-color-secondary) 20%,
              var(--card-background)
            ),
          0 0 0 0.34375rem
            color-mix(
              in sRGB,
              color-mix(
                  in sRGB,
                  var(--text-color-secondary) 15%,
                  var(--card-background)
                )
                65%,
              transparent
            );
      }

      &:has(.app-temporary-list__item__label:focus-visible) {
        background: var(--button-background--hover);
        box-shadow: 0 0 0 0.2rem var(--text-color) !important;
      }
    }

    &:first-of-type {
      border-top-left-radius: calc(
        var(--form-input-border-radius) - var(--jenkins-border-width)
      ) !important;
      border-top-right-radius: calc(
        var(--form-input-border-radius) - var(--jenkins-border-width)
      ) !important;
    }

    &:last-of-type {
      border-bottom-left-radius: calc(
        var(--form-input-border-radius) - var(--jenkins-border-width)
      ) !important;
      border-bottom-right-radius: calc(
        var(--form-input-border-radius) - var(--jenkins-border-width)
      ) !important;
    }

    &__details {
      display: grid;
      grid-template-columns: auto 1fr;
      gap: 0.875rem;
      text-decoration: none !important;
      overflow: hidden;
      padding: 0.75rem 0.875rem;
      outline: none;
    }

    &__details__text {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
    }

    &__actions {
      display: flex;
      align-items: center;
      gap: var(--jenkins-border-width);
      padding-inline: 0.875rem;

      & > .jenkins-button {
        padding: 0;
        aspect-ratio: 1;
        transition: color var(--standard-transition);

        &.jenkins-button--tertiary:not(
            [class*="color"],
            :focus,
            [aria-expanded="true"]
          ) {
          color: var(--tertiary-color) !important;
        }
      }

      &:empty {
        display: none;
      }
    }

    &__label {
      display: flex;
      gap: 0.5rem;
      font-weight: var(--font-bold-weight);
      margin: 0;
      font-variant-numeric: tabular-nums;
      color: var(--text-color) !important;
      text-decoration: none !important;
      outline: none;

      &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: transparent;
      }
    }

    &__description {
      display: flex;
      align-items: center;
      gap: 0.625rem;
      color: var(--text-color-secondary);
      white-space: nowrap;
      font-size: var(--font-size-xs);
      font-weight: normal;
      opacity: 0.85;
      margin: 3px 0 0;

      .jenkins-details {
        gap: 0.75rem;
      }

      .jenkins-details__item {
        --item-background--hover: transparent !important;
        --item-background--active: transparent !important;

        min-height: 0 !important;
        padding: 0 !important;
        gap: 0.25rem;

        .jenkins-details__item__icon {
          align-self: center;
          height: 1rem !important;

          svg,
          img {
            width: 1rem !important;
            height: 1rem !important;
          }
        }

        &::before,
        &::after {
          inset: -0.25rem !important;
          border-radius: 100px !important;
          border: none !important;
          box-shadow: none !important;
        }
      }

      svg {
        width: 1rem;
        height: 1rem;
      }

      &:empty {
        display: none;
      }
    }
  }

  &__controls {
    border-top: var(--jenkins-border);
    margin: 0 !important;
    padding: 0.5rem !important;
  }
}

.app-build-item {
  display: grid;
  grid-template-columns: auto 1fr auto;

  & > * {
    overflow: hidden;
  }

  &__icon {
    display: flex;
    align-self: start;
    margin: 0.75rem 0 0 0.875rem;
    z-index: 1;
    outline: none;
    border-radius: 100px;
    transition: var(--standard-transition);
    box-shadow: 0 0 0 0.5rem transparent;

    &:focus-visible {
      box-shadow: 0 0 0 0.2rem var(--text-color) !important;
    }

    svg {
      width: 1.375rem;
      height: 1.375rem;
    }
  }
}
