@use "../abstracts/mixins";

.app-adminmonitor {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: start;
  gap: 0.5rem;
  font-weight: 450;

  &-icon {
    position: relative;
    float: left;
    width: 1.375rem;
    height: 1.375rem;
    margin: -0.0625rem 0 -0.0625rem -0.0625rem;

    * {
      stroke-width: 34px;
    }
  }

  &-controls {
    margin: -8px -8px -8px 4px !important;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    & > form {
      margin: 0 !important;
    }

    .jenkins-button {
      min-height: 36px;
      padding: 0 14px;
    }
  }

  &-dismiss-button {
    --button-background: none;
    --button-background--hover: oklch(from currentColor l c h / 0.1);
    --button-background--active: oklch(from currentColor l c h / 0.2);
    --button-box-shadow--focus: oklch(from currentColor l c h / 0.1);

    &:not(.jenkins-button--primary) {
      &::before {
        border: var(--jenkins-border-width) solid
          rgb(from currentColor r g b / 0.1);
      }
    }

    color: var(--color) !important;
    min-width: 36px;
    padding: 0 !important;
  }
}

.manage-messages {
  display: flex;
  flex-direction: column;
  gap: calc(var(--section-padding) / 3);

  & > div {
    margin-bottom: 0;

    &:last-of-type {
      margin-bottom: var(--section-padding);
    }
  }
}

.manage-messages a:not(.jenkins-button),
.manage-messages a:visited:not(.jenkins-button) {
  color: inherit !important;
  text-decoration: none;
}

.manage-messages a:hover,
.manage-messages a:focus {
  text-decoration: underline;
}

.manage-messages dl:first-of-type {
  margin-top: 0;
}

.manage-messages dl dt:first-child {
  margin-top: 0;
}

.manage-messages dl dt {
  margin-top: 10px;
  font-weight: normal;
}

.manage-messages dl dd {
  margin-left: 15px;
}

.manage-messages dl:last-child {
  margin-bottom: 0;
}

.manage-messages dl dt::after {
  content: ": ";
}

.manage-messages .alert,
.manage-messages .jenkins-alert {
  a {
    text-decoration: underline;
  }

  form {
    position: relative;
    float: right;
    margin: -6px 0 0;
    display: flex;
    gap: 0.5rem;

    & > div {
      display: contents;
    }

    span {
      margin: 0 0 0 4px !important;
    }
  }
}
