h1 {
  margin-bottom: 30px;
}

#main-panel {
  padding: 30px;
}

.jenkins-form {
  max-width: 80ch;
}

.jenkins-form-item {
  margin-bottom: 30px;
}

.jenkins-fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.jenkins-form-label {
  display: block;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 10px;
}

.jenkins-form-description {
  display: block;
  opacity: 0.5;
  margin-top: 0;
  margin-bottom: 12px;
}

.jenkins-input {
  display: block;
  border: 3px solid rgba(0,0,0,0.2);
  padding: 8px;
  border-radius: 6px;
  width: 300px;
  box-shadow: 0 0 0 10px transparent;
  transition: 0.2s ease;

  &:hover {
    border-color: rgba(0,0,0,0.5);
    box-shadow: 0 0 0 5px var(--focus-color);
  }

  &:active,
  &:focus {
    outline: none;
    border-color: rgba(0,0,0,1);
    box-shadow: 0 0 0 5px var(--focus-color);
  }
}

:root {
  --focus-color: rgba(0, 0, 0, 0.1);
  --focus-hover-color: rgba(0, 0, 0, 0.05);
}

.jenkins-radio {
  &:not(:last-of-type) {
    margin-bottom: 20px;
  }

  &__input {
    position: absolute;
    opacity: 0;
  }

  &__label {
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    padding: 1px 34px 5px;
    cursor: pointer;
    font-weight: bold;
    // remove 300ms pause on mobile
    touch-action: manipulation;

    &::before {
      content: "";
      box-sizing: border-box;
      position: absolute;
      top: 0;
      left: 0;

      width: 24px;
      height: 24px;

      border: 3px solid currentColor;
      border-radius: 50%;
      background: transparent;
      opacity: 0.2;
      box-shadow: 0 0 0 15px transparent;

      transition: 0.2s ease;
    }

    &:hover::before {
      border-width: 5px;
      opacity: .5;
      box-shadow: 0 0 0 5px var(--focus-color);
    }
  }

  &__input:focus + &__label:before, &__input:active + &__label:before {
    box-shadow: 0 0 0 5px var(--focus-color)!important;
    opacity: 1;
  }

  &__input:checked + &__label:before {
    border-width: 8px;
    opacity: 1;
  }

  &__description {
    margin: 0 0 0 34px;
    opacity: 0.5;
  }

  &__content {
    margin: 0 0 0 34px;
    margin-top: 8px;
  }
}

.jenkins-button {
  position: relative;
  border: none!important;
  padding: 10px 8px!important;
  border-radius: 6px!important;
  box-shadow: 0 0 0 10px transparent;
  transition: 0.2s ease!important;
  background: black!important;
  color: white!important;
  margin: 0!important;
  min-width: 90px!important;
  min-height: 0!important;
  font-weight: 600;
  cursor: pointer;
  
  &:hover {
    box-shadow: 0 0 0 5px var(--focus-hover-color)!important;
    opacity: 0.85;
  }
  
  &:active, &:focus {
    box-shadow: 0 0 0 5px var(--focus-color)!important;
    opacity: 0.7;
  }
  
  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

#add-item-panel {

  .input-help {
    color: #666;
    font-style: italic;
    font-size: var(--font-size-sm);
    padding-top: 2px;
  }

  .input-validation-message {
    color: red;
    padding-top: 2px;
    font-weight: bold;
  }

  .input-message-disabled {
    display: none;
  }
}
