.jenkins-table {
  --table-padding: 0.55rem;

  width: 100%;
  background: var(--table-background);
  border-radius: calc(var(--table-border-radius) + 2px);
  border: 5px solid var(--table-background);
  border-bottom-width: 3px;
  border-spacing: 0 2px;
  margin-bottom: var(--section-padding);

  * {
    -webkit-border-horizontal-spacing: 0;
    -webkit-border-vertical-spacing: 0;
  }

  & > thead {
    & > tr {
      & > th {
        color: var(--table-header-foreground);
        text-align: left;
        padding-top: calc((var(--table-padding) * 1.7) - 7.5px);
        padding-bottom: calc((var(--table-padding) * 1.7) - 2.5px);
        padding-left: var(--table-padding);
        font-weight: 600;
        font-size: 0.85rem;

        &[align="center"] {
          text-align: center;
        }

        &[align="right"] {
          text-align: right;
        }

        &:first-of-type {
          padding-left: calc(var(--table-padding) * 2);
        }

        &:last-of-type {
          padding-right: var(--table-padding);
        }

        a {
          color: var(--table-header-foreground);
          font-weight: 700;
        }
      }
    }
  }

  & > tbody {
    & > tr {
      background: var(--table-body-background);
      color: var(--table-body-foreground);

      & > td {
        vertical-align: middle;
        padding: var(--table-padding) 0 var(--table-padding) var(--table-padding);
        font-weight: 500;
        height: 50px;

        &:first-of-type {
          padding-left: calc(var(--table-padding) * 2);
        }

        &:last-of-type {
          padding-right: var(--table-padding);
        }
      }

      // Style the rows so that the first and last have a larger border radius
      & > td:first-of-type {
        border-top-left-radius: var(--table-row-border-radius);
        border-bottom-left-radius: var(--table-row-border-radius);
      }

      & > td:last-of-type {
        border-top-right-radius: var(--table-row-border-radius);
        border-bottom-right-radius: var(--table-row-border-radius);
      }

      // First row
      &:first-of-type {
        & > td:first-of-type {
          border-top-left-radius: var(--table-border-radius);
        }

        & > td:last-of-type {
          border-top-right-radius: var(--table-border-radius);
        }
      }

      // Last row
      &:last-of-type {
        & > td:first-of-type {
          border-bottom-left-radius: var(--table-border-radius);
        }

        & > td:last-of-type {
          border-bottom-right-radius: var(--table-border-radius);
        }
      }
    }
  }

  &__cell__button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__cell--tight {
    padding-left: 0 !important;
    text-align: center !important;
    white-space: nowrap;
    width: 3.5rem;
  }

  &__cell--checkbox {
    padding: calc(var(--table-padding) * 2) !important;
    vertical-align: top !important;
    width: calc((var(--table-padding) * 2) + 22px);
  }

  &__cell--no-wrap {
    white-space: nowrap;
  }

  &__button {
    display: inline-flex;
  }

  &__link, .sortheader {
    display: inline-flex;
  }

  &__link {
    .jenkins-menu-dropdown-chevron {
      top: 0;
    }
  }

  &__button, &__icon {
    svg, .build-status-icon__wrapper, img {
      width: 24px !important;
      height: 24px !important;
    }
  }

  &--medium {
    --table-padding: 0.4rem !important;

    tbody > tr > td {
      height: 40px;
    }

    .jenkins-table__button, .jenkins-table__link, .jenkins-table__icon {
      svg, .build-status-icon__wrapper, img {
        width: 20px !important;
        height: 20px !important;
      }
    }
  }

  &--small {
    --table-padding: 0.2rem;

    tbody > tr > td {
      height: 34px;
    }

    .jenkins-table__button, .jenkins-table__link, .jenkins-table__icon {
      svg, .build-status-icon__wrapper, img {
        width: 16px !important;
        height: 16px !important;
      }
    }
  }

  &__button, &__link {
    color: var(--link-color);
  }

  &__button, .sortheader, &__link {
    .item();

    align-items: center;
    justify-content: center;
    appearance: none;
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
    background: transparent;
    text-decoration: none !important;
    line-height: 1 !important;
    transition: var(--standard-transition);

    &::before, &::after {
      top: -7px;
      left: -10px;
      bottom: -7px;
      right: -10px;
      border-radius: 6px;
    }
  }

  &__badge {
    margin-left: 1rem !important;

    &::before {
      top: -5px;
      left: -8px;
      bottom: -5px;
      right: -8px;
      border-radius: 13px;
      background: currentColor;
      opacity: 0.05;
    }

    &::after {
      top: -5px;
      left: -8px;
      bottom: -5px;
      right: -8px;
      box-shadow: 0 0 0 10px currentColor;
      opacity: 0;
    }

    &:hover {
      &::before {
        background: currentColor;
        border-radius: 6px;
      }
    }

    &:active, &:focus {
      &::before {
        background: currentColor;
        border-radius: 6px;
      }

      &::after {
        box-shadow: 0 0 0 5px currentColor;
        opacity: 0.025;
      }
    }
  }
}

.jenkins-table__checkbox-container {
  position: relative;
  display: flex;
}

.jenkins-table__checkbox {
  appearance: none;
  display: inline-grid;
  width: 1.375rem;
  height: 1.375rem;
  background: transparent;
  outline: none;
  border: none;
  box-shadow: 0 0 0 10px transparent, inset 0 0 0 0.125rem var(--input-border);
  border-radius: 6px;
  transition: var(--standard-transition);
  cursor: pointer;
  padding: 0;

  &:hover {
    box-shadow: 0 0 0 10px transparent, inset 0 0 0 0.3125rem var(--input-border-hover);
  }

  &:active, &:focus {
    box-shadow: 0 0 0 5px var(--focus-input-glow), inset 0 0 0 0.3125rem var(--focus-input-border);
  }

  svg {
    width: 0.85rem;
    height: 0.85rem;
    grid-column-start: 1;
    grid-row-start: 1;
    justify-self: center;
    align-self: center;
    transition: var(--elastic-transition);
    transform: scale(0);
    color: var(--text-color);
    opacity: 0;

    * {
      stroke-width: 60px;
    }
  }

  .jenkins-table__checkbox__all-symbol {
    color: var(--background);
  }

  &--indeterminate {
    .jenkins-table__checkbox__indeterminate-symbol {
      transform: scale(1);
      opacity: 1;
    }
  }

  &--all {
    box-shadow: 0 0 0 10px transparent, inset 0 0 0 0.6875rem var(--focus-input-border);

    &:hover {
      box-shadow: 0 0 0 10px transparent, inset 0 0 0 1.375rem var(--focus-input-border);
    }

    &:active, &:focus {
      box-shadow: 0 0 0 5px var(--focus-input-glow), inset 0 0 0 1.375rem var(--focus-input-border);
    }

    .jenkins-table__checkbox__all-symbol {
      transform: scale(1);
      opacity: 1;
    }
  }
}

.jenkins-table__checkbox-options {
  height: 1.375rem;
  min-height: unset;
  padding: 0 0.2rem;
  margin-left: 0.2rem;
  border-radius: 6px;

  svg {
    width: 0.85rem;
    height: 0.85rem;
    pointer-events: none;
  }
}

.jenkins-table__checkbox-dropdown {
  position: absolute;
  top: 1.375rem;
  left: 1.375rem;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  z-index: 10;
  padding: 0.4rem;
  box-shadow: 0 5px 10px rgba(black, 0.1), 0 5px 20px rgba(black, 0.3);
  min-width: 170px;
  opacity: 0;
  visibility: collapse;
  transition: var(--standard-transition);

  &::before, &::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    z-index: -1;
  }

  &::before {
    backdrop-filter: brightness(3) blur(5px);
  }

  &::after {
    background: var(--background);
    opacity: 0.7;
  }

  span {
    font-size: 0.8rem;
    color: var(--text-color-secondary);
    padding: 0.5rem 0.75rem;
  }

  .jenkins-button {
    justify-content: flex-start;
    gap: 0.75rem;
    border-radius: 10px;
  }

  &--visible {
    opacity: 1;
    visibility: visible;
  }
}

.jenkins-table__checkbox-dropdown__icon {
  position: relative;
  width: 1.1rem;
  height: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: "";
    position: absolute;
    inset: -0.15rem;
    border: 0.1rem solid var(--text-color-secondary);
    border-radius: 6px;
    opacity: 0.25;
  }

  svg {
    width: 0.9rem;
    height: 0.9rem;

    * {
      stroke-width: 50px;
    }
  }
}
