.tabBarFrame {
  position: relative;
}

.tabBar {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  background: var(--tabs-background);
  border-radius: var(--tabs-border-radius);
  padding: 2.5px;
  margin-bottom: 2rem;

  .tab {
    float: left;
  }
}

.tabBar .tab a {
  position: relative;
  display: block;
  min-width: 3rem;
  text-decoration: none;
  margin: 2.5px;
  padding: 0.4rem 1.2rem;
  border-radius: 100px;
  background: var(--tabs-item-background);
  color: var(--tabs-item-foreground);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.75rem;
  transition: 0.2s ease;

  &:hover {
    background: var(--tabs-item-background--hover);
    color: var(--tabs-item-foreground--hover);
  }

  &:active, &:focus {
    outline: none;
    background: var(--tabs-item-background--active);
    color: var(--tabs-item-foreground--active);
  }
}

.tabBar .tab .addTab .svg-icon {
  width: 1.25rem;
  height: 1.25rem;
}

.tabBar .tab [type=radio] {
  display: none;
}

.tabBar .tab.active a {
  background: var(--tabs-item-background--selected);
  color: var(--tabs-item-foreground--selected);
  z-index: 2;
}

.tabBarBaseline {
  border-top: var(--tab-baseline-width) solid var(--tab-baseline-color);
  z-index: 1;
  position: absolute;
  bottom: 0;
  width: 100%;

  /* Baseline is hidden by default.  See next rule fo adding visibility. */
  display: var(--tab-baseline-default-display, none);
}

.tabBarFrame.showBaseline .tabBarBaseline {
  display: block;
}
