.tippy-box[data-theme~='tooltip'] {
  background: var(--tooltip-background);
  color: var(--tooltip-color);
  padding: 0.55rem 0.8rem;
  border-radius: 10px;
  box-shadow: var(--tooltip-box-shadow);
  font-weight: 500;
  font-size: 0.75rem;
  backdrop-filter: saturate(2) blur(15px);
  max-width: unset !important;
  white-space: pre-line;

  .tippy-content {
    padding: 0;
  }

  // We style tables as they have additional margin/border radius when in tooltips
  .jenkins-tooltip--table-wrapper {
    background-color: rgba(black, 0.05);
    margin: -0.55rem -0.8rem;
    border-radius: 10px;
  }

  .jenkins-table {
    --table-background: transparent;
    --table-border-radius: 8px;

    margin: 0;
    width: 450px;
  }
}

.tippy-box[data-animation='tooltip'][data-state='hidden'] {
  opacity: 0;
  transform: scale(0.995);

  &[data-placement^="top"] {
    transform-origin: bottom;
    transform: translateY(2px) scale(0.995);
  }

  &[data-placement^="bottom"] {
    transform-origin: top;
    transform: translateY(-2px) scale(0.995);
  }
}
