# This file is for unifying the coding style for different editors and IDEs
# editorconfig.org
#
# Subline Text: https://github.com/editorconfig/editorconfig-sublime
# Emacs: https://github.com/editorconfig/editorconfig-emacs
# Jetbrains (IntelliJ etc): https://github.com/editorconfig/editorconfig-jetbrains
# Eclipse: ??
#


root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[**.jelly]
indent_style = space
indent_size = 2

[**.js]
indent_style = space
indent_size = 4

[**.css]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false
