target
work

# IntelliJ project files 
*.iml
*.iws
*.ipr
/.idea/*
!/.idea/icon.svg
!/.idea/.name
!/.idea/encodings.xml
out

# Eclipse and VSCode project files
.settings
.classpath
.project
.factorypath
build

# VSCode workspace file
*.code-workspace

# vim
*~
*.swp

# ctags
tags

# OS X
.DS_Store

# mvn versions:set
pom.xml.versionsBackup

war/images/16x16
war/images/24x24
war/images/32x32
war/images/48x48
jenkins.war
RPMS
SRPMS
debian/binary
debian/debian/jenkins
debian/debian/jenkins.substvars
debian/debian/files
debian/build-stamp
debian/configure-stamp
*.debhelper
*.debhelper.log
jenkins_*.build
jenkins_*.changes
*.deb
*.pkg
*.zip
push-build.sh
node_modules/
yarn-error.log
.java-version
.checkstyle

/rebel.xml
junit.xml

# Yarn
# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.pnp.*
.yarn/*
.yarnrc.yml
!.yarn/patches
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# Node
node/
node_modules/

# Generated JavaScript Bundles
jsbundles
