target
work

# IntelliJ project files 
*.iml
*.iws
*.ipr
.idea
out

# eclipse project file
.settings
.classpath
.project
build

# vim
*~

# ctags
tags

# OS X
.DS_Store

# mvn versions:set
pom.xml.versionsBackup

war/images/16x16
war/images/24x24
war/images/32x32
war/images/48x48
jenkins.war
RPMS
SRPMS
debian/binary
debian/debian/jenkins
debian/debian/jenkins.substvars
debian/debian/files
debian/build-stamp
debian/configure-stamp
*.debhelper
*.debhelper.log
jenkins_*.build
jenkins_*.changes
*.deb
*.pkg
*.zip
push-build.sh
war/node_modules/
.java-version
