@use "../abstracts/mixins";

a.jenkins-badge,
button.jenkins-badge {
  pointer-events: auto;
}

.jenkins-badge {
  @include mixins.item;

  --item-background: color-mix(
    in sRGB,
    var(--color, var(--accent-color)) 7.5%,
    transparent
  );
  --item-background--hover: color-mix(
    in sRGB,
    var(--color, var(--accent-color)) 12.5%,
    transparent
  );
  --item-background--active: color-mix(
    in sRGB,
    var(--color, var(--accent-color)) 17.5%,
    transparent
  );
  --item-box-shadow--focus: color-mix(
    in sRGB,
    var(--color, var(--accent-color)) 10%,
    transparent
  );

  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  font-size: 0.6875rem;
  font-weight: 400;
  min-height: 20px;
  min-width: 20px;
  padding: 0 0.375rem;
  gap: 0.35rem;
  pointer-events: none;

  &::before {
    border: var(--jenkins-border--inherit-subtle);
  }

  svg {
    width: 0.75rem;
    height: 0.75rem;
  }
}
