@use "../abstracts/mixins";

.jenkins-badge {
  @include mixins.item;

  --item-background: color-mix(in sRGB, var(--color, var(--accent-color)) 7.5%, transparent);
  --item-background--hover: color-mix(in sRGB, var(--color, var(--accent-color)) 12.5%, transparent);
  --item-background--active: color-mix(in sRGB, var(--color, var(--accent-color)) 17.5%, transparent);
  --item-box-shadow--focus: color-mix(in sRGB, var(--color, var(--accent-color)) 10%, transparent);

  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  font-size: 0.6875rem;
  font-weight: 400;
  min-height: 20px;
  min-width: 20px;
  padding: 0 0.4rem;
  gap: 0.35rem;

  &::before {
    border: var(--jenkins-border--inherit-subtle);
  }

  &--filled {
    --item-background: color-mix(in sRGB, var(--color, var(--accent-color)) 85%, transparent);
    --item-background--hover: color-mix(in sRGB, var(--color, var(--accent-color)) 85%, transparent);
    --item-background--active: color-mix(in sRGB, var(--color, var(--accent-color)) 85%, transparent);
    --item-box-shadow--focus: transparent;
    box-shadow: inset 0 -1px 2px var(--color, var(--text-color-secondary));
    color: var(--white) !important;
    text-shadow: 0 1px 1px rgb(0 0 0 / 0.1);
    backdrop-filter: blur(2.5px);
  }

  svg {
    width: 0.75rem;
    height: 0.75rem;
  }
}
