$jenkins-dialog-padding: 1.25rem;

.jenkins-dialog {
  --background: var(--dialog-background);
  --section-padding: #{$jenkins-dialog-padding};
  --bottom-app-bar-padding: #{$jenkins-dialog-padding};

  border-radius: 1rem;
  border: none;
  background-color: var(--dialog-background);
  box-shadow: var(--dialog-box-shadow);
  animation: jenkins-dialog-animate-in 0.25s cubic-bezier(0, 0.68, 0.5, 1.5);
  overflow: hidden;
  padding: 0;
  display: flex;
  flex-direction: column;

  // Thin highlight for dark themes to differentiate the dialog from its backdrop
  outline: 1px solid rgb(255 255 255 / 0.05);

  &::backdrop {
    background: color-mix(
      in sRGB,
      var(--black) 25%,
      var(--dialog-backdrop-background)
    );
    backdrop-filter: var(--dialog-backdrop-backdrop-filter);
    animation: jenkins-dialog-backdrop-animate-in 0.15s;
  }

  &__title {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 1rem;
    font-weight: var(--font-bold-weight);
    padding: $jenkins-dialog-padding;
    color: var(--text-color);
    overflow-wrap: anywhere;
    text-box: cap alphabetic;

    &__button {
      padding: 0;
      width: 2rem;
      min-height: 2rem;
      border-radius: 100%;
    }

    &__close-button {
      margin-left: auto !important;
    }
  }

  &__contents {
    overflow-y: auto;
    overflow-wrap: break-word;
    padding: 0 $jenkins-dialog-padding;
    max-height: 75vh;
    color: var(--text-color-secondary);

    &--modal {
      padding-bottom: $jenkins-dialog-padding;
      color: var(--text-color);
    }

    .jenkins-dialog__buttons {
      padding-inline: 0;
    }
  }

  &__input {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0 $jenkins-dialog-padding;
    color: var(--text-color-secondary);
  }

  &__buttons {
    display: flex;
    padding: $jenkins-dialog-padding;
    justify-content: right;
    flex-direction: row-reverse;
    gap: 1.25rem;

    .jenkins-button {
      min-width: 100px;
    }
  }

  &__subtitle {
    font-size: var(--font-size-sm);
    font-weight: var(--font-bold-weight);
    color: var(--text-color-secondary);
    padding: 0;
    margin: 0 0 1rem;
  }

  &[closing] {
    animation: jenkins-dialog-animate-out 0.1s linear;

    &::backdrop {
      animation: jenkins-dialog-backdrop-animate-out 0.1s linear;
    }
  }

  .jenkins-bottom-app-bar__shadow {
    margin-bottom: calc(
      (2.375rem + calc(var(--bottom-app-bar-padding) * 2)) * -1
    );
  }
}

@keyframes jenkins-dialog-backdrop-animate-in {
  from {
    opacity: 0;
  }
}

@keyframes jenkins-dialog-backdrop-animate-out {
  to {
    opacity: 0;
  }
}

@keyframes jenkins-dialog-animate-in {
  from {
    scale: 85%;
    opacity: 0;
  }
}

@keyframes jenkins-dialog-animate-out {
  to {
    scale: 95%;
    opacity: 0;
  }
}
