@use "../abstracts/mixins";

.page-header {
  --background-opacity: 0%;
  --background-blur: 0;
  --border-opacity: 0%;
  position: sticky;
  top: 0;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  margin-bottom: calc(var(--section-padding) * -1);
  padding: 0 var(--section-padding);
  min-height: 8rem;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    backdrop-filter: blur(var(--background-blur));
    background: color-mix(in srgb, var(--background) var(--background-opacity), transparent);
    border-bottom: 1.5px solid color-mix(in srgb, var(--text-color-secondary) var(--border-opacity), transparent);
    z-index: -1;
    background-clip: padding-box;
  }

  #jenkins-head-icon {
    height: 2rem;
    margin-left: 0.15rem;
  }

  .page-header__actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    .jenkins-button {
      min-width: 2.375rem;
      padding: 0.5rem;

      svg {
        width: 1.25rem;
        height: 1.25rem;
      }
    }
  }

  // TODO - Might not need this
  .page-header__am-wrapper, .page-header__hyperlinks {
    display: contents;
  }
}
