@use "../abstracts/mixins";

.page-header {
  --background-opacity: 0%;
  --background-blur: 0;
  --border-opacity: 0%;
  position: sticky;
  top: 0;
  z-index: 20;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: var(--section-padding);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  margin-bottom: calc(var(--section-padding) * -1);
  min-height: 4.375rem;
  backdrop-filter: blur(var(--background-blur));
  background: color-mix(in srgb, var(--header-background) var(--background-opacity), transparent);
  border-bottom: 1.5px solid color-mix(in srgb, var(--text-color-secondary) var(--border-opacity), transparent);
  background-clip: padding-box;

  #jenkins-head-icon {
    height: 2rem;
    margin-left: 0.15rem;
  }

  .page-header__actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding-right: var(--section-padding);

    .jenkins-button {
      min-width: 2.375rem;
      padding: 0.5rem;

      svg {
        width: 1.25rem;
        height: 1.25rem;
      }

      .jenkins-badge {
        position: absolute;
        top: calc(16%);
        right: calc(16%);
        min-width: 5px;
        min-height: 5px;
        padding: 0;
      }
    }
  }

  // TODO - Might not need this
  .page-header__am-wrapper, .page-header__hyperlinks {
    display: contents;
  }
}
