@use "../abstracts/mixins";

.jenkins-table__checkbox-container {
  position: relative;
  display: flex;
}

.jenkins-table__checkbox {
  appearance: none;
  display: inline-grid;
  width: 1.375rem;
  height: 1.375rem;
  background: transparent;
  outline: none;
  border: none;
  box-shadow:
    var(--form-input-glow),
    inset 0 0 0 var(--jenkins-border-width) var(--input-border);
  border-radius: 6px;
  transition: var(--standard-transition);
  cursor: pointer;
  padding: 0;

  &:hover {
    box-shadow:
      var(--form-input-glow),
      inset 0 0 0 0.3125rem var(--input-border-hover);
  }

  &:active,
  &:focus {
    box-shadow:
      0 0 0 4px var(--focus-input-glow),
      inset 0 0 0 0.3125rem var(--focus-input-border);
  }

  svg {
    width: 0.85rem;
    height: 0.85rem;
    grid-column-start: 1;
    grid-row-start: 1;
    place-self: center center;
    transition: var(--elastic-transition);
    transform: scale(0);
    color: var(--text-color);
    opacity: 0;

    * {
      stroke-width: 60px;
    }
  }

  .jenkins-table__checkbox__all-symbol {
    color: var(--background);
  }

  &--indeterminate {
    .jenkins-table__checkbox__indeterminate-symbol {
      transform: scale(1);
      opacity: 1;
    }
  }

  &--all {
    box-shadow:
      var(--form-input-glow),
      inset 0 0 0 0.6875rem var(--focus-input-border);

    &:hover {
      box-shadow:
        var(--form-input-glow),
        inset 0 0 0 1.375rem var(--focus-input-border);
    }

    &:active,
    &:focus {
      box-shadow:
        0 0 0 4px var(--focus-input-glow),
        inset 0 0 0 1.375rem var(--focus-input-border);
    }

    .jenkins-table__checkbox__all-symbol {
      transform: scale(1);
      opacity: 1;
    }
  }

  &[disabled],
  &:disabled {
    pointer-events: none;
    opacity: 0.2;
    transition: none;
  }
}

.jenkins-table__checkbox-options {
  height: 1.375rem;
  min-height: unset !important;
  padding: 0 0.25rem !important;
  margin: 0 0 0 0.25rem !important;
  border-radius: 0.375rem;

  svg {
    max-width: 1rem;
    max-height: 1rem;
    pointer-events: none;
    color: var(--input-border);
    transition: var(--standard-transition);
  }

  &:hover, &:active {
    svg {
      color: var(--text-color);
    }
  }

  &[disabled],
  &:disabled {
    pointer-events: none;
    opacity: 0.2;
    transition: none;
  }
}

.jenkins-table__checkbox-dropdown {
  @include mixins.overlay-surface(85%);

  position: absolute;
  top: 1.375rem;
  left: 1.375rem;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  z-index: 999;
  padding: 0.375rem;
  min-width: 170px;
  opacity: 0;
  visibility: collapse;
  transform: scale(0.9);
  transform-origin: top left;
  transition: var(--standard-transition);

  .jenkins-button {
    justify-content: flex-start;
    gap: 0.75rem;
    border-radius: var(--form-input-border-radius);
    margin: 0 !important;
    padding: 0.375rem 0.625rem !important;
    min-height: 2.375rem !important;
  }

  &--visible {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
}

.jenkins-table__checkbox-dropdown__icon {
  position: relative;
  width: 1.25rem;
  height: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: "";
    position: absolute;
    inset: -0.0625rem;
    border: var(--jenkins-border);
    border-radius: 0.375rem;
  }
}
