@use "../abstracts/mixins";

$border-radius: 19px;

.tabBarFrame {
  position: relative;
}

.tabBar {
  position: relative;
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  background: var(--table-background);
  border-radius: $border-radius;
  padding: 2px;
  margin-bottom: var(--section-padding);

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border: var(--jenkins-border);
    border-radius: inherit;
    pointer-events: none;
  }

  .tab {
    float: left;
  }
}

.tabBar .tab a {
  @include mixins.item($border: false);

  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 34px;
  padding: 0 1.2rem;
  border-radius: $border-radius;
  color: var(--tabs-item-foreground);
  font-weight: normal;
  font-size: var(--font-size-sm);
  min-width: 3.75rem;

  &::before,
  &::after {
    inset: 2px;
  }
}

.tabBar .tab .addTab svg {
  width: 1.125rem;
  height: 1.125rem;
}

.tabBar .tab [type="radio"] {
  display: none;
}

.tabBar .tab.active a {
  z-index: 2;
  cursor: default;
  font-weight: 450;
  color: var(--tabs-item-foreground--active);

  &::before {
    background-clip: padding-box;
    background-color: var(--tabs-item-background--selected) !important;
    border: var(--jenkins-border--subtle) !important;
  }

  &::after {
    display: none;
  }

  &::before,
  &::after {
    inset: 0;
  }
}

.jenkins-tab-pane__title {
  font-size: 1.6rem;
  margin: 2.2rem 0 1.4rem;
  padding: 0;
}

.app-build-tabs {
  position: relative;
  display: inline-flex;
  z-index: 0;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  //padding: 1.5px;
  //border: var(--jenkins-border);
  //border-radius: 19px;

  @media (width <= 1200px) {
    justify-content: start;
  }

  &::after {
    content: "";
    position: absolute;
    top: anchor(--a top);
    bottom: anchor(--a bottom);
    border: var(--jenkins-border);
    border-radius: 100px;
    transition: var(--standard-transition);
    left: anchor(--a left);
    width: anchor-size(--a width);
    background-color: var(--button-background);
    pointer-events: none;
    box-shadow: var(--control-shadow);
  }

  &:hover {
    &::after {
      background-color: var(--button-background--hover);
    }
  }

  &:active {
    &::after {
      background-color: var(--button-background--active);
    }
  }

  &:has(.jenkins-button:focus-visible) {
    &::after {
      box-shadow: 0 0 0 0.2rem var(--text-color) !important;
    }
  }

  &:not(:has(.jenkins-button:hover, .jenkins-button:focus-visible)) .jenkins-button:not(.jenkins-button--tertiary) {
    anchor-name: --a;
    color: var(--text-color) !important;
  }

  a, button {
    border-radius: 100px;
    color: color-mix(
                    in sRGB,
                    var(--text-color-secondary) 85%,
                    var(--text-color)) !important;
    transition: color var(--standard-transition);
    //min-height: 34px;

    &::before,
    &::after {
      display: none;
    }

    svg {
      width: 1rem;
      height: 1rem;

      * {
        stroke-width: 40px;
      }
    }

    &.jenkins-button--tertiary {
      &::after {
        display: flex;
        box-shadow: inset 0 0 0 1px var(--jenkins-border-color);
      }
    }

    &:not(.jenkins-button--tertiary) {
      pointer-events: none;
    }

    &:hover, &:focus-visible {
      color: var(--text-color) !important;
      anchor-name: --a !important;
    }

    .jenkins-badge {
      margin-right: -0.25rem;
    }
  }
}
