@use "../../../scss/abstracts/mixins";
#add-item-panel {
  max-width: 850px;
  margin: auto;

  form {
    display: flex;
    flex-direction: column;
    gap: var(--section-padding);

    #bottom-sticker {
      margin-top: calc(var(--section-padding) * -1);
    }
  }

  .item-copy {
    position: relative;

    .add-item-copy {
      position: relative;

      input[type="radio"] {
        display: none;
      }

      label {
        line-height: 48px;
        padding: 0 10px 0 0;
      }

      input {
        font-size: inherit;
      }
    }
  }

  .add-item-name,
  .add-item-copy {
    .input-validation-message {
      color: var(--error-color);
      padding-top: 2px;
      font-weight: var(--font-bold-weight);
    }

    .input-message-disabled {
      display: none;
    }
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;

    img {
      position: relative;
      width: 100%;
      height: 100%;
    }
  }

  .default-icon {
    height: 40px;
    width: 40px;
    border: 1px solid var(--text-color);
    border-radius: 50%;
    text-align: center;
    line-height: 36px;
    font-weight: bold;
    font-size: 125%;
    color: var(--text-color);
    opacity: 0.75;

    .b {
      text-transform: lowercase;
    }
  }

  input {
    width: 50%;
    min-width: 300px;
  }

  .categories {
    .category {
      .header {
        padding: 0 20px;

        h2 {
          margin: 0;
          padding: 15px 0 0;
        }

        p {
          margin-top: 5px;
        }
      }

      .desc {
        color: var(--text-color-secondary);
      }
    }
  }

  .categories.flat {
    .category {
      border-bottom: none;

      .header {
        display: none;
      }
    }
  }
}

.j-item-options li,
.j-item-options {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}

.j-item-options {
  display: flex;
  flex-direction: column;
  gap: 5px;

  li.active {
    &::before {
      background: var(--item-background--hover);
    }
  }

  li {
    @include mixins.item($border: false);

    -webkit-touch-callout: none;
    user-select: none;
    padding: 0.75rem 1rem;
    min-height: 68px;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.25rem 1rem;

    .icon {
      grid-row: span 2;
    }

    label {
      display: block;
      font-size: var(--font-size-sm);
      font-weight: var(--font-bold-weight);
      color: var(--text-color);
      cursor: pointer;

      input {
        position: absolute;
        top: 24px;
        left: 25px;
        display: none;
      }
    }

    .desc {
      grid-column: 2;
    }
  }
}
