// CodeMirror 6 integration
// Most styling is handled by the CM6 theme in src/main/js/components/codemirror/theme.js
// This file provides layout integration with Jenkins form elements.

.cm-editor {
  td.setting-main & {
    display: table;
    table-layout: fixed;
    width: 100%;
  }
}
