.jenkins-file-upload {
  position: relative;
  width: 100%;
  margin: -10px 0 0 -10px;
  padding: 10px 0 10px 10px;
  outline: none;
  background: transparent;

  &::before {
    content: "";
    position: absolute;
    display: block;
    left: calc(10px + 0.9rem);
    width: 1rem;
    height: 36px;
    background: currentColor;
    mask-image: url("../images/svgs/mask-file-upload.svg");
    mask-position: center;
    mask-repeat: no-repeat;
    pointer-events: none;
  }

  &::file-selector-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    outline: none;
    margin: 0 1rem 0 0;
    padding: 0.5rem 0.85rem 0.5rem 2.5rem;

    // Firefox doesn't support pseudo elements on inputs so don't increase padding to accommodate
    @supports (-moz-appearance: none) {
      padding: 0.5rem 0.85rem;
    }

    font-size: var(--font-size-sm);
    font-weight: normal;
    color: var(--text-color);
    border-radius: var(--form-input-border-radius);
    cursor: pointer;
    min-height: 36px;
    white-space: nowrap;
    background: var(--button-background);
    transition: var(--standard-transition);
    box-shadow: var(--form-input-glow);
    border: var(--jenkins-border--subtle);

    &:hover {
      background: var(--button-background--hover);
    }

    &:active {
      background: var(--button-background--active);
      box-shadow: 0 0 0 4px var(--button-box-shadow--focus);
    }
  }

  &:focus-visible {
    &::file-selector-button {
      box-shadow: 0 0 0 0.2rem var(--text-color) !important;
    }
  }
}
