<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.CommandInterpreterTest_-TestCommandInterpreter>
      <command>env</command>
    </hudson.tasks.CommandInterpreterTest_-TestCommandInterpreter>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>
