@min-button-size: 36px;

.jenkins-icon-size {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0;

  &__items {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    ol {
      position: relative;
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0;
      list-style-type: none;
      gap: 0.25rem;

      &::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 0.8rem;
        background: var(--button-background);
        opacity: 0;
        transition: var(--standard-transition);
      }

      &:hover {
        &::before {
          inset: -0.2rem;
          opacity: 1;
        }
      }
    }

    li {
      .jenkins-button {
        margin: 0 !important;
        padding: 0 !important;
        min-width: 0 !important;
        aspect-ratio: 1;
        height: @min-button-size;
      }
    }

    .jenkins-icon-size__items-item {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      aspect-ratio: 1;
      height: @min-button-size;
      border-radius: 10px;
      font-weight: var(--btn-link-font-weight);
      font-size: var(--btn-font-size);
      background: var(--button-background--hover);
      cursor: default;
    }
  }
}

.jenkins-job-cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.jenkins-mobile-show {
  @media (min-width: 767px) {
    display: none;
  }
}

.jenkins-mobile-hide {
  @media (max-width: 767px) {
    display: none;
  }
}

.jenkins-job-card {
  .item();

  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 1rem;
  padding: calc(1rem - var(--card-border-width, 0));
  border-radius: 1rem;
  text-decoration: none !important;
  background: var(--card-background);
  border: var(--card-border-width) solid var(--card-border-color);
  transition: var(--standard-transition);

  &::before {
    content: none;
  }

  &__icons {
    pointer-events: none;
    color: var(--text-color);
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__label {
    color: var(--link-color);
    font-weight: 600;
    margin: 0;
    font-size: 1rem;
  }

  &__message {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 0.5rem;
    margin: 0;
    font-size: 1rem;

    svg {
      width: 1.25rem;
      height: 1.25rem;

      * {
        stroke-width: 40px;
      }
    }

    &:empty {
      display: none;
    }
  }

  &__description {
    color: var(--text-color-secondary);
    margin: 0;
    font-size: 1rem;

    .mono {
      font-family: var(--font-family-mono);
    }

    &:empty {
      display: none;
    }
  }

  &:hover {
    --link-color: var(--link-color--hover);

    background: var(--card-background--hover);
    border-color: var(--card-border-color--hover);
  }

  &:active, &:focus {
    --link-color: var(--link-color--active);

    background: var(--card-background--active);
    border-color: var(--card-border-color--active);
  }
}
