<div>
    <p>Are you sure you want to Rollback to the plugin snapshot from {{takenAt}}?</p>
    <div class="alert alert-warning">
        Note that Jenkins configuration changes made by plugins involved in this
        rollback may result in problems when restarting this Jenkins instance.
    </div>
</div>
