<div>
    <p style="font-size: larger"><strong><code>{{takenAt}}</code></strong></p>
    <p style="font-size: larger"><strong>Are you sure you want to rollback to this plugin snapshot?</strong></p>
    <p style="opacity: 0.8">Jenking will automatically restart.</p>
    <div class="alert alert-warning">
        <strong>Plugin rollbacks are not without risk!</strong>
        <p/>
        Jenkins configuration changes (Jobs etc) made by plugins changed in a
        rollback may result in problems when restarting the Jenkins instance.
        Configurations may no longer be compatible with the plugin set after the
        rollback. The older the snapshot, the higher the risk.
    </div>
</div>
