<div class="modal-header">
	<h4 class="modal-title">Error</h4>
</div>
<div class="modal-body">
	<div class="container error-container">
		<h1>{{translations.installWizard_error_header}}</h1>
		<div class="alert alert-danger fade in">
			{{errorMessage}}
		</div>
	</div>
</div>
