<div class="modal-header">
	<h4 class="modal-title">{{translations.installWizard_addFirstUser_title}}</h4>
</div>
<div class="modal-body">
	<div class="jumbotron welcome-panel security-panel">
		<iframe src="{{baseUrl}}/securityRealm/setupWizardFirstUser"></iframe>
	</div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-link skip-first-user" disabled>
        {{translations.installWizard_skipFirstUser}}
    </button>
	<button type="button" class="btn btn-primary save-first-user" disabled>
		{{translations.installWizard_saveFirstUser}}
	</button>
</div>
