<div class="modal-header">
	<h4 class="modal-title">{{translations.installWizard_offline_title}}</h4>
</div>
<div class="modal-body">
	<div class="jumbotron welcome-panel offline">
		<h1>{{translations.installWizard_offline_title}}</h1>
		<p>{{translations.installWizard_offline_message}}</p>
	</div>
</div>
