<div class="modal-header">
	<h4 class="modal-title">{{msg.installWizard_offline_title}}</h4>
</div>
<div class="modal-body">
	<div class="jumbotron welcome-panel offline">
		<h1>{{msg.installWizard_offline_title}}</h1>
		<p>{{msg.installWizard_offline_message}}</p>
	</div>
</div>
