<div class="modal-header">
	<h4 class="modal-title">{{translations.installWizard_gettingStarted_title}}</h4>
</div>
<div class="modal-body">
	<div class="jumbotron welcome-panel security-panel">
		<iframe src="{{baseUrl}}/configureSecurity?decorate=no-decoration+no-sticker"></iframe>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-primary save-security" disabled>
		{{translations.installWizard_saveSecurity}}
	</button>
</div>
