<div id="jenkins-plugin-wizard" title="Jenkins Install Wizard">
    <p>
        <h2>This is a new Jenkins instance</h2>
        
        <span class="instructions" style="opacity: 0.6">
            Press the button below to install some plugins (<strong>github</strong> and <strong>workflow</strong>) before using Jenkins.
            <p/>
            This is a temp install wizard. A better wizard is in the making. You'll then be able to select the initial set of plugins etc.  See
            the <a href="https://groups.google.com/forum/?hl=en#!topic/jenkinsci-dev/kRobm-cxFw8">dev list thread</a>.
        </span> 
        <span class="installing" style="opacity: 0.6; display: none;">
            Starting install. Please wait...
        </span> 
    </p>
</div>