<?xml version='1.0' encoding='UTF-8'?>
<hudson>
  <numExecutors>2</numExecutors>
  <mode>NORMAL</mode>
  <authorizationStrategy class="hudson.security.AuthorizationStrategy$Unsecured"/>
  <securityRealm class="hudson.security.SecurityRealm$None"/>
  <jdks>
    <jdk>
      <name>jdk1</name>
      <javaHome>/tmp</javaHome>
    </jdk>
    <jdk>
      <name>jdk2</name>
      <javaHome>/tmp</javaHome>
    </jdk>
  </jdks>
  <slaves/>
  <quietPeriod>5</quietPeriod>
  <slaveAgentPort>0</slaveAgentPort>
  <secretKey>0b5165d9bd5c32b84a685eadc52b5c976d82e6c0baf83c3677cd12464cf755db</secretKey>
</hudson>