<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <properties>
    <hudson.security.AuthorizationMatrixProperty>
      <useProjectSecurity>true</useProjectSecurity>
      <permission>hudson.model.Item.ExtendedRead:alice</permission>
      <permission>hudson.model.Item.Configure:alice</permission>
      <permission>hudson.model.Item.Configure:bob</permission>
      <permission>hudson.model.Item.ExtendedRead:charlie</permission>
    </hudson.security.AuthorizationMatrixProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <jdk>(Default)</jdk>
  <triggers class="vector"/>
  <builders/>
  <publishers/>
  <buildWrappers/>
</project>
