<div>
    Se si sono definite viste multiple in Le mie viste, la barra delle schede predefinita Le mie viste diventa troppo
    lunga. Il punto di estensione MyViewsTabBar fornisce ai plugin una funzione per fornire una propria implementazione
    della barra delle schede Le mie viste.
    Questo elenco a discesa elenca tutte le implementazioni disponibili della barra delle schede Le mie viste. Per Le
    mie viste può essere attiva solo un'implementazione della barra delle schede alla volta. Selezionarne una
    dall'elenco a discesa.
</div>
