<div>
    Se vi sono più viste definite in Le mie viste, la barra schede Le mie viste
    predefinita diventa troppo lunga. Il punto di estensione MyViewsTabBar
    mette a disposizione un modo per i componenti aggiuntivi di fornire la
    loro implementazione della barra schede Le mie viste. Quest'elenco a
    discesa elenca tutte le implementazioni della barra schede Le mie viste
    disponibili. Per Le mie viste può essere attiva solo un'implementazione
    della barra schede alla volta. Selezionarne una dall'elenco a discesa.
</div>
