.jenkins-section {
  border-top: 2px solid var(--panel-border-color);
  padding: var(--section-padding) 0 0 0;

  &:first-of-type {
    border-top: none;
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }

  &:empty {
    display: none;
  }

  &--no-border {
    border-top: none;
    padding-top: 0;
  }

  &__title {
    margin: 0 0 var(--section-padding) 0;
    font-size: 1.1rem;
    font-weight: 600;
  }
}
