<?xml version='1.0' encoding='UTF-8'?>
<hudson>
  <version>1.324-SNAPSHOT (private-09/11/2009 02:51-dty)</version>
  <numExecutors>2</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.GlobalMatrixAuthorizationStrategy">
    <permission>hudson.model.Hudson.Administer:admin</permission>
    <permission>hudson.model.Item.Read:bob</permission>
    <permission>hudson.model.Item.Configure:alice</permission>
    <permission>hudson.model.Item.Read:alice</permission>
    <permission>hudson.model.Hudson.Read:bob</permission>
    <permission>hudson.model.Hudson.Read:admin</permission>
    <permission>hudson.model.Hudson.Read:alice</permission>
    <permission>hudson.model.Hudson.Read:charlie</permission>
    <permission>hudson.model.Item.Read:charlie</permission>
    <permission>hudson.model.Item.ExtendedRead:charlie</permission>
  </authorizationStrategy>
  <securityRealm class="hudson.security.HudsonPrivateSecurityRealm">
    <disableSignup>false</disableSignup>
  </securityRealm>
  <jdks/>
  <clouds/>
  <slaves/>
  <quietPeriod>5</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>All</name>
    </hudson.model.AllView>
  </views>
  <primaryView>All</primaryView>
  <slaveAgentPort>0</slaveAgentPort>
  <label></label>
  <nodeProperties/>
  <globalNodeProperties/>
  <disabledAdministrativeMonitors/>
  <noUsageStatistics>true</noUsageStatistics>
</hudson>
