body {
  margin: 0;
  padding: 0;
  background: white;
}

body, table, form, input, td, th, p, textarea, select
{
  font-family: Verdana, Helvetica, sans serif;
  font-size: 11px;
}

td {
  vertical-align: top;
}

table.middle-align td {
  vertical-align: middle;
}

#main-table {
  padding: 0;
  border-collapse: collapse;
}

#top-panel {
  margin-bottom: 3pt;
  height: 34px;
  background: url(../images/topbar.png) repeat-x;
}
#top-panel a {
  text-decoration: none;
}

#left-top-nav {
  text-align: left;
  border-left: 10px solid #fff;
  padding: 4px;
  color: #222;
}

#left-top-nav a, #right-top-nav a {
  color: black;
}

#right-top-nav {
  text-align: right;
  padding: 4px;
}

#main-panel {
  padding: 10px;
}

#side-panel {
  padding: 4px;
  width: 220px;
}

#footer {
  text-align: right;
  font-size: 8pt;
  margin-top: 10em;
  padding: 10px;
  border-top: 1px solid #bbb;
}

#tasks {
  padding: 4px;
} 

a:link {
  text-decoration: underline;
  color: #204A87;
}

a:visited {
  text-decoration: underline;
  color: #5c3566;
}

/* tip - anchors of class info */
a.tip {
  position:relative;
  z-index:24;
  text-decoration: underline;
}

a.tip:hover {
  z-index:25;
}

a.tip span {
  display: none
}

a.tip:hover span {
  display:block;
  position:absolute;
  top:2em; 
  left:2em; 
  width:400px;
  border:1px solid #bbbbbb;
  background-color:#fffff0; 
  color:#000;
  text-align: left
}

#top-nav .a {
  color: white;
}

img {
  vertical-align: middle;
  border: 0;
}

table.tab {
  border-collapse: collapse;
}

td.selected_tab {
  vertical-align: middle;
  border: 1px #090 solid;
  background: #ffffff;
}

td.tab_filler {
  background: #ffffff;
  border-bottom: 1px #090 solid;
}

td.tab {
  vertical-align: middle;
  border: 1px #090 solid;
  background: #f0f0f0;
}

table.progress-bar {
  border-collapse: collapse;
  border: 1px solid #3465a4;
  height: 6px;
  width: 100px;
  clear: none;
}

td.progress-bar-done {
  background-color: #3465a4;
}

td.progress-bar-left {
  background-color: #ffffff;
}

.dashboard td {
  padding: 4px 4px 4px 4px;
}

pre.console {
  overflow: auto;
}

.setting-name {
  white-space: nowrap;
}

.setting-leftspace {
  width: 2em;
}

.setting-input {
  width: 100%;
}

.setting-description {
  font-size: 0.8em;
  margin-top: 0;
  padding-top: 0;
}

/* div that looks like a hyperlink */
.pseudoLink {
  cursor: pointer;
}

.advancedLink {
  text-align: right;
}

.advancedBody {
  display: none;
}

.scm_info {
  width: 480px;
}

.build-row {
  padding: 3px 4px 3px 4px;
}

.build-keep {
  font-weight: bold;
}

.task-header {
  display: block;
  border-bottom: 1px #090 solid;
  font-weight: bold;
  font-size: 12pt;
}

.task {
  white-space: nowrap;
}

.main-table {
}

table.dashboard {
  width: 100%;
}

.pane  {
  margin-top: 4px;
  white-space: nowrap;
}
.pane td {
  padding: 4px 4px 3px 4px;
}

table.pane {
  width: 100%;
  border-collapse: collapse;
  border: 1px #bbb solid;
}

td.pane {
  border: 1px #bbb solid;
  padding: 3px 4px 3px 4px;
  vertical-align: middle;
}

td.pane-header {
  border: 1px #bbb solid;
  border-right: none;
  border-left: none;
  background-color: #f0f0f0;
  font-weight: bold;
}

th.pane {
  border: 1px #bbb solid;
  font-weight: bold;
}

#projectstatus tr {
  border: 1px solid #bbb;
  padding: 3px 4px 3px 4px;
}

#projectstatus th {
  font-weight: bold;
  border: none;
  background-color: #f0f0f0;
  padding: 3px 4px 3px 4px;
}

#projectstatus td {
  vertical-align: middle;
  padding: 3px 4px 3px 4px;
}

.smallfont {
  font-size: 9px;
}

#foldertab {
  padding: 4px 0;
  margin-left: 0;
  border-bottom: 1px solid #090;
  font: bold 12px Verdana, sans-serif;
}

#foldertab li {
  list-style: none;
  margin: 0;
  display: inline;
}

#foldertab li a {
  padding: 4px 0.5em;
  margin-left: 3px;
  border: 1px solid #090;
  border-bottom: none;
  background: #090;
  text-decoration: none;
}

#foldertab li a:link { color: white; }
#foldertab li a:visited { color: white; }

#foldertab li a:hover {
  color: white;
  background: #6c0;
  border-color: #6c0;
}

#foldertab li a#current {
  background: white;
  border-bottom: 1px solid white;
  color: black;
}

.changeset-message {
  border: 1px solid #ccb;
  background: #eed;
  padding: 4px;
}

.error {
  color: red;
  font-weight: bold;
}

.spinner {
  padding-left: 32px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-image: url("../images/spinner.gif");
  background-repeat: no-repeat;
  background-position: left;
}

.spinner-right {
  padding-right: 32px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-image: url("../images/spinner.gif");
  background-repeat: no-repeat;
  background-position: right;
}
/* ====================== help ===================================== */

.help {
  display: none;  /* hidden until loaded */
  border: solid #bbb 1px;
  background-color: #f0f0f0;
  padding: 1em;
  margin-bottom: 1em;
}

.help-area {
  /* this marker class is used by JavaScript to locate the area to display help text. */ 
}


/* ====================== project view tab bar ===================================== */
#viewList {
  border: none;
  margin-bottom: 0px;
  width: 100%;
  white-space: nowrap;
}
#viewList td {
  padding: 0px;
}
#viewList td.inactive {
  border: solid 1px #ccc;
  border-bottom-color: #bbb;
}
#viewList td.inactive:hover {
  background-color: #777;
}
#viewList td.inactive a {
  text-decoration: none;
  color: #444
}
#viewList td.noleft {
  border-left: none;
}
#viewList td.noright {
  border-right: none;
}
#viewList td.active {
  border: solid 1px #bbb;
  padding: 0.5em;
  border-bottom: none;
  vertical-align:middle;
  background-color: rgb(240,240,240);
  font-weight: bold;
}
#viewList td.filler {
  border: none;
  border-bottom: solid 1px #bbb;
  width: 100%;
  text-align: right;
}
#viewList a {
  display: block;
  padding: 0.5em;
  white-space: nowrap;
}


/* ========================= editable combobox style ========================= */
.comboBoxList {
  border: 1px solid #000;
  overflow: visible;
  color: MenuText;
  background-color: Menu;
}
.comboBoxSelectedItem {
  background-color: Highlight;
  color: HighlightText;
}



/* ========================= directory tree ========================= */
.parentPath {
  font-size: 1.2em;
  font-weight: bold;
}

.dirTree li {
  list-style: none;
}

.dirTree .rootIcon {
  margin-right: 1em;
}

TABLE.fileList {
  margin-left: 2em;
  padding: 0;
}

TABLE.fileList TD {
  padding: 0;
}

TABLE.fileList TD.fileSize {
  padding-left: 2em;
  text-align: right;
  color: #888;
}



/* ========================= test result ========================= */
.result-passed {
  color: #3465a4;
}

.result-fixed {
  color: #3465a4;
  font-weight: bold;
}

.result-failed {
  color: #ef2929;
}

.result-regression {
  color: #ef2929;
  font-weight: bold;
}
.test-trend-caption {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}



/* ========================= sortable table ========================= */
table.sortable a.sortheader {
  text-decoration: none;
  color: black;
  display: block;
}
table.sortable span.sortarrow {
  color: black;
  text-decoration: none;
}




/* ========================= fingerprint ========================= */
.md5sum {
  text-align: right;
}

.fingerprint-summary-header {
  font-size: 1.2em;
  vertical-align: middle;
}

TABLE.fingerprint-in-build TD {
  padding-left: 1em;
  padding-right: 1em;
}




/* ========================= plugin manager ========================= */
#pluginList {
  width:100%;
  border: 1px solid #bbb;
  border-spacing: 0px;
}

#pluginList TR:hover {
  background-color: #eeeeec;
}

#pluginList TD {
  padding: 0.5em;
  vertical-align: middle;
}

/* Doesn't work because gear2.gif is not transparent
#pluginList TD.plugin-description {
  background: url(../images/24x24/gear2.gif) no-repeat;
  background-position: center left;
  padding-left: 32px;
}
*/