<map>
    <entry>
        <groovy.util.Expando>
            <expandoProperties>
                <entry>
                    <string>hashCode</string>
                    <org.codehaus.groovy.runtime.MethodClosure>
                        <delegate class="groovy.util.Expando" reference="../../../.."/>
                        <owner class="java.lang.ProcessBuilder">
                            <command>
                                <string>touch</string>
                                <string>/tmp/jenkins-security247test</string>
                            </command>
                            <redirectErrorStream>false</redirectErrorStream>
                        </owner>
                        <resolveStrategy>0</resolveStrategy>
                        <directive>0</directive>
                        <parameterTypes/>
                        <maximumNumberOfParameters>0</maximumNumberOfParameters>
                        <method>start</method>
                    </org.codehaus.groovy.runtime.MethodClosure>
                </entry>
            </expandoProperties>
        </groovy.util.Expando>
        <int>1</int>
    </entry>
</map>
