$jenkins-dialog-padding: 1rem;

.jenkins-dialog {
  border-radius: 0.6rem;
  border: none;
  background: transparent;
  box-shadow: var(--dialog-box-shadow);
  backdrop-filter: var(--dialog-backdrop-filter);
  animation: jenkins-dialog-animate-in 0.25s cubic-bezier(0, 0.68, 0.5, 1.5);
  overflow: hidden;
  padding: 0;

  &::backdrop {
    background: var(--dialog-backdrop-background);
    animation: jenkins-dialog-backdrop-animate-in 0.15s;
  }

  &__contents {
    overflow-y: auto;
    overflow-wrap: break-word;
    padding: $jenkins-dialog-padding;
    max-height: 75vh;
  }

  &__input {
    display: flex;
    padding: 0 1rem 1rem;
  }

  &__buttons {
    padding: $jenkins-dialog-padding;
    border-top: 1px solid var(--black);

    &--right-windows {
      justify-content: right;
    }

    &--right-unix {
      justify-content: right;
      flex-direction: row-reverse;
    }
  }

  &__title {
    font-size: 1.1rem;
    font-weight: 600;
    padding: $jenkins-dialog-padding;
    border-bottom: 1px solid var(--black);
  }

  &__subtitle {
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-color-secondary);
    padding: 0;
    margin: 0 0 1rem;
  }

  &__close-button {
    position: absolute;
    top: $jenkins-dialog-padding - 0.5rem;
    right: $jenkins-dialog-padding - 0.5rem;
    aspect-ratio: 1;
    padding: 0;

    &::before,
    &::after {
      border-radius: 100%;
      outline: none;
    }

    &::after {
      backdrop-filter: contrast(0.9) blur(5px);
    }
  }
}

@keyframes jenkins-dialog-backdrop-animate-in {
  from {
    opacity: 0;
  }
}

@keyframes jenkins-dialog-animate-in {
  from {
    scale: 85%;
    opacity: 0;
  }
}
