// Tabbar Overflow mixin.
.tabBarOverflow() {
  .tabBarFrame {
    position: absolute;
    left: 0;
    right: 0;

    .tabBar {
      overflow-x: hidden;
      white-space: nowrap;
      margin-right: 54px;

      .tab {
        display: inline-block;
        float: none;
      }
    }

    .taboverflow-btn {
      cursor: pointer;
      width: 44px;
      position: absolute;
      top: 7px;
      right: 5px;
      border:1px solid @solid-border;
      .border-radius(5px);
      padding: 3px 3px;
      font-size: 0.9em;
      color: #999;
      text-align: center;

      .icon {
        float: left;
        width: 18px;
      }
      .count {
        float: right;
        width: 18px;
      }
    }

    .taboverflow-btn:hover, .drop-tab:hover {
      background:#bbb;
      color:@brightest;
      cursor: pointer;
    }

    .taboverflow-popup {
      padding: 5px 10px;
      overflow-y: auto;
      background-color: @brightest;
      max-width: 200px;
      max-height: 250px;
      position: absolute;
      top: 35px;
      right: 5px;

      border:1px solid @solid-border;
      .border-radius(5px);

      .drop-tab {
        padding: 5px;
        .border-radius(2px);
        overflow-x: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}