Source: jenkins
Section: devel
Priority: extra
Maintainer: Kohsuke Kawaguchi <kk@kohsuke.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.4
Homepage: https://jenkins-ci.org/

Package: jenkins
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, daemon, adduser, psmisc, default-jre-headless | java-runtime-headless
Conflicts: hudson
Replaces: hudson
Description: Continuous integration system written in Java
 Jenkins is an extensible continuous engine written in Java.
