Source: hudson
Section: devel
Priority: extra
Maintainer: Kohsuke Kawaguchi <kk@kohsuke.org>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2
Homepage: https://hudson.dev.java.net/

Package: hudson
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, daemon, adduser, java-virtual-machine, java2-runtime
Description: Continuous integration system written in Java
 Hudson is an extensible continuous engine written in Java.
