Source: jenkins
Section: devel
Priority: extra
Maintainer: Kohsuke Kawaguchi <kk@kohsuke.org>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2
Homepage: https://jenkins-ci.org/

Package: jenkins
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, daemon, adduser, psmisc, java2-runtime-headless | java2-runtime
Conflicts: hudson
Replaces: hudson
Description: Continuous integration system written in Java
 Jenkins is an extensible continuous engine written in Java.
