/*
IE11 prevents of the usage of variable,
but to show the color theme we left it here
 */
:root {
  --main-bg-color-focus: #2171ce;
  --main-bg-color: #4A90E2;
  --danger-color: #C4000A;
}

html {
  color: #4A4A4A;
}

.logo {
  background-image: url('../images/jenkins.svg');
  background-repeat: no-repeat;
  background-position: 100px 0;
  height: 130px;
}

form .submit input:focus {
  background-color: #2171ce; /*var(--main-bg-color-focus);*/
  border: solid 1px #2171ce; /*var(--main-bg-color-focus);*/
}

form .submit input {
  background-color: #4A90E2; /*var(--main-bg-color);*/
  border: solid 1px #4A90E2; /*var(--main-bg-color-focus);*/
}

.checkbox label {
  background: #ffffff;
  border: 1px solid rgba(73, 73, 73, 0.5);
  border-radius: 3px;
}

.checkbox label:after {
  background: transparent;
  border: 2px solid #ffffff;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
}

.checkbox input[type=checkbox]:checked + label:after {
  color: #ffffff;
}

.checkbox input[type=checkbox]:checked + label {
  background-color: #4A90E2; /*var(--main-bg-color);*/
  border-color: #2171ce; /*var(--main-bg-color-focus);*/
}

.danger {
  border: 1px solid #C4000A; /*var(--danger-color);*/
  box-shadow: 0 0 1px #C4000A; /*var(--danger-color);*/
}

.alert {
  color: #C4000A; /*var(--danger-color);*/
}