/* ----- jenkins-layout: One column based on main-panel ----- */

#page-body #side-panel {
    display: none;
}

#page-body #main-panel {
    margin-left: 0 !important;
    padding: 0 !important;
}

/* ---------------------------------------------------------- */