.signup{
  min-width: 530px;
  max-width: 530px;
  width: 530px;
}
.signupIntroDefault {
  text-align: center;
}
form.signup{
  min-width: 530px;
  max-width: 530px;
  width: 530px;
  text-align: left;
  margin-top: 50px;
}