:root {
    --background: #fff;
    --background-medium: var(--background);
    --btn-primary-bg: var(--link-color);
    --focus: var(--link-color);
    --btn-text-color: white;
    --danger-color: #c4000a;
    --input-form-border: rgba(74, 74, 74, 0.25);
    --input-color: var(--background);
    --checkbox-border: rgba(73, 73, 73, 0.5);
    --checkbox-fill: #fff;
    --box-shadow: rgba(0, 0, 0, 0.2);
    --text-color: #333;
    --link-color: #024cb6;
}
