.Checkbox {
  display: inline-block;
}
.Checkbox .svg-icon {
  width: 20px;
  height: 20px;
}
.Checkbox .Checkbox-wrapper {
  display: flex;
  align-items: center;
}
.Checkbox input[type="checkbox"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.Checkbox .Checkbox-indicator {
  display: flex;
  border: 1px solid rgba(73, 73, 73, 0.5);
  border-radius: 3px;
  cursor: pointer;
}
.Checkbox .Checkbox-text {
  margin-left: 5px;
  cursor: pointer;
}
.Checkbox .svg-icon {
  opacity: 0;
  fill: #fff;
  transition: opacity 0.1s linear;
}
.Checkbox input[type="checkbox"]:checked + .Checkbox-indicator {
  background-color: #4A90E2;
  border-color: #4A90E2;
}
.Checkbox input[type="checkbox"]:checked + .Checkbox-indicator .svg-icon {
  opacity: 1;
}
.Checkbox input[type="checkbox"]:focus + .Checkbox-indicator,
.Checkbox.focus .Checkbox-indicator {
  outline: 0;
  box-shadow: inset 0 0 2px 3px rgba(0, 0, 0, 0.2);
}
.Checkbox input[disabled] + .Checkbox-indicator,
fieldset[disabled] .Checkbox input + .Checkbox-indicator,
.Checkbox input[disabled] ~ .Checkbox-text,
fieldset[disabled] .Checkbox input ~ .Checkbox-text {
  opacity: 0.4;
  cursor: auto;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .Checkbox input[type="checkbox"]:focus + .Checkbox-indicator,
  .Checkbox.focus .Checkbox-indicator {
    box-shadow: inset 0 0 1px 3px rgba(0, 0, 0, 0.2);
  }
}
@supports (-ms-ime-align:auto) {
  .Checkbox input[type="checkbox"]:focus + .Checkbox-indicator,
  .Checkbox.focus .Checkbox-indicator {
    box-shadow: inset 0 0 1px 3px rgba(0, 0, 0, 0.2);
  }
}
.Checkbox-small .svg-icon {
  width: 16px;
  height: 16px;
}
.Checkbox-medium .svg-icon {
  width: 20px;
  height: 20px;
}
.Checkbox-large .svg-icon {
  width: 24px;
  height: 24px;
}