@import "./simple-page-variables.css";

.Checkbox {
  display: inline-block;
}
.Checkbox .svg-icon {
  width: 20px;
  height: 20px;
}
.Checkbox .Checkbox-wrapper {
  display: flex;
  align-items: center;
}
.Checkbox input[type="checkbox"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.Checkbox .Checkbox-indicator {
  display: flex;
  border: 1px solid;
  border-color: rgba(73, 73, 73, 0.5);
  border-color: var(--checkbox-border);
  border-radius: 6px;
  cursor: pointer;
}
.Checkbox .Checkbox-text {
  margin-left: 5px;
  cursor: pointer;
}
.Checkbox .svg-icon {
  opacity: 0;
  fill: #fff;
  fill: var(--checkbox-fill);
  transition: opacity 0.1s linear;
}
.Checkbox input[type="checkbox"] + .Checkbox-indicator {
  background-color: #fff;
  background-color: var(--background-medium);
}
.Checkbox input[type="checkbox"]:checked + .Checkbox-indicator {
  background-color: #0b6aa2;
  background-color: var(--btn-primary-bg);
  border-color: #0b6aa2;
  border-color: var(--btn-primary-bg);
}
.Checkbox input[type="checkbox"]:checked + .Checkbox-indicator .svg-icon {
  opacity: 1;
}
.Checkbox input[type="checkbox"]:focus + .Checkbox-indicator,
.Checkbox.focus .Checkbox-indicator {
  outline: 0;
  box-shadow: inset 0 0 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 2px 3px var(--box-shadow);
}
.Checkbox input[disabled] + .Checkbox-indicator,
fieldset[disabled] .Checkbox input + .Checkbox-indicator,
.Checkbox input[disabled] ~ .Checkbox-text,
fieldset[disabled] .Checkbox input ~ .Checkbox-text {
  opacity: 0.4;
  cursor: auto;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .Checkbox input[type="checkbox"]:focus + .Checkbox-indicator,
  .Checkbox.focus .Checkbox-indicator {
    box-shadow: inset 0 0 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 1px 3px var(--box-shadow);
  }
}
@supports (-ms-ime-align:auto) {
  .Checkbox input[type="checkbox"]:focus + .Checkbox-indicator,
  .Checkbox.focus .Checkbox-indicator {
    box-shadow: inset 0 0 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 1px 3px var(--box-shadow);
  }
}
.Checkbox-small .svg-icon {
  width: 16px;
  height: 16px;
}
.Checkbox-medium .svg-icon {
  width: 20px;
  height: 20px;
}
.Checkbox-large .svg-icon {
  width: 24px;
  height: 24px;
}
.jenkins-button {
  appearance: none;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: none;
  outline: none;
  margin: 0;
  padding: 1rem;
  font-size: 1rem;
  z-index: 0;
  border-radius: 6px;
  cursor: pointer;
  white-space: nowrap;
  background: transparent;
  color: white !important;
  font-weight: 500;
}
.jenkins-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  border-radius: inherit;
  transition: 0.2s ease;
  background: var(--link-color);
}
.jenkins-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  border-radius: inherit;
  transition: 0.2s ease;
  opacity: 0;
  box-shadow: 0 0 0 10px transparent;
}
.jenkins-button:hover::before {
  opacity: 0.9;
}
.jenkins-button:active::before,
.jenkins-button:focus::before {
  opacity: 0.8;
}
.jenkins-button:active::after,
.jenkins-button:focus::after {
  opacity: 0.25;
  box-shadow: 0 0 0 5px var(--link-color);
}
