@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-itxuas');
	src:url('../fonts/icomoon.eot?#iefix-itxuas') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?-itxuas') format('truetype'),
		url('../fonts/icomoon.woff?-itxuas') format('woff'),
		url('../fonts/icomoon.svg?-itxuas#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-jira:before {
	content: "\e677";
}
.icon-hipchat:before {
	content: "\e67e";
}
.icon-AWS_Elastic_BeanStalk:before {
	content: "\e67b";
}
.icon-mercurial:before {
	content: "\e673";
}
.icon-bitbucket:before {
	content: "\e67f";
}
.icon-git-logo:before {
	content: "\e674";
}
.icon-github:before {
	content: "\e675";
}
.icon-subversion:before {
	content: "\e676";
}
.icon-pivotal:before {
	content: "\e660";
}
.icon-vmware:before {
	content: "\e65e";
}
.icon-ec2:before {
	content: "\e65f";
}
.icon-siren:before {
	content: "\e656";
}
.icon-cloudbees-logo:before {
	content: "\e64a";
}
.icon-code:before {
	content: "\e647";
}
.icon-docker:before {
	content: "\e640";
}
.icon-fingerprint:before {
	content: "\e63a";
}
.icon-groovy:before {
	content: "\e638";
}
.icon-grails:before {
	content: "\e637";
}
.icon-git:before {
	content: "\e635";
}
.icon-sbt:before {
	content: "\e636";
}
.icon-gradle:before {
	content: "\e634";
}
.icon-ant:before {
	content: "\e632";
}
.icon-service:before {
	content: "\e62a";
}
.icon-service-o:before {
	content: "\e62b";
}
.icon-menu:before {
	content: "\e620";
}
.icon-build-hand:before {
	content: "\e61b";
}
.icon-menu2:before {
	content: "\e66b";
}
.icon-content-paste:before {
	content: "\e666";
}
.icon-format-color-fill:before {
	content: "\e658";
}
.icon-puzzle:before {
	content: "\e64f";
}
.icon-flow-merge:before {
	content: "\e671";
}
.icon-flow-switch:before {
	content: "\e672";
}
.icon-thermometer:before {
	content: "\e659";
}
.icon-arrow-shuffle:before {
	content: "\e630";
}
.icon-arrow-right:before {
	content: "\e631";
}
.icon-chat-3:before {
	content: "\e680";
}
.icon-health:before {
	content: "\e657";
}
.icon-screwdriver:before {
	content: "\e668";
}
.icon-clipboard:before {
	content: "\e667";
}
.icon-calendar:before {
	content: "\e663";
}
.icon-maven:before {
	content: "\e633";
}
.icon-brick-menu-o:before {
	content: "\e62c";
}
.icon-brick-o:before {
	content: "\e62d";
}
.icon-gear-menu-o:before {
	content: "\e627";
}
.icon-gear-menu:before {
	content: "\e626";
}
.icon-brick-menu:before {
	content: "\e621";
}
.icon-folder-menu:before {
	content: "\e622";
}
.icon-jenkins-head:before {
	content: "\e617";
}
.icon-jenkins:before {
	content: "\e618";
}
.icon-jenkins-o:before {
	content: "\e619";
}
.icon-brick:before {
	content: "\e61a";
}
.icon-checkbox-checked:before {
	content: "\e623";
}
.icon-phone:before {
	content: "\e642";
}
.icon-checkmark:before {
	content: "\e681";
}
.icon-map-pin-fill:before {
	content: "\e678";
}
.icon-box-add:before {
	content: "\e67d";
}
.icon-box-remove:before {
	content: "\e67c";
}
.icon-clock:before {
	content: "\e661";
}
.icon-plug:before {
	content: "\e64e";
}
.icon-refresh:before {
	content: "\e679";
}
.icon-search:before {
	content: "\e63f";
}
.icon-move:before {
	content: "\e615";
}
.icon-bug:before {
	content: "\e611";
}
.icon-tools:before {
	content: "\e669";
}
.icon-pulse:before {
	content: "\e655";
}
.icon-key:before {
	content: "\e653";
}
.icon-lock:before {
	content: "\e64b";
}
.icon-gear:before {
	content: "\e624";
}
.icon-repo-forked:before {
	content: "\e610";
}
.icon-issue-closed:before {
	content: "\e608";
}
.icon-lightning:before {
	content: "\e603";
}
.icon-rainy:before {
	content: "\e604";
}
.icon-cloud:before {
	content: "\e605";
}
.icon-cloudy:before {
	content: "\e606";
}
.icon-sun:before {
	content: "\e607";
}
.icon-office:before {
	content: "\e600";
}
.icon-quill:before {
	content: "\e62e";
}
.icon-book:before {
	content: "\e63c";
}
.icon-copy:before {
	content: "\e66e";
}
.icon-copy2:before {
	content: "\e66f";
}
.icon-tag:before {
	content: "\e61c";
}
.icon-support:before {
	content: "\e66c";
}
.icon-phone2:before {
	content: "\e66d";
}
.icon-map:before {
	content: "\e651";
}
.icon-stopwatch:before {
	content: "\e648";
}
.icon-mobile:before {
	content: "\e643";
}
.icon-users:before {
	content: "\e641";
}
.icon-wrench:before {
	content: "\e66a";
}
.icon-settings:before {
	content: "\e614";
}
.icon-hammer:before {
	content: "\e601";
}
.icon-aid:before {
	content: "\e654";
}
.icon-pie:before {
	content: "\e65b";
}
.icon-stats:before {
	content: "\e639";
}
.icon-bars:before {
	content: "\e65c";
}
.icon-rocket:before {
	content: "\e649";
}
.icon-remove:before {
	content: "\e664";
}
.icon-signup:before {
	content: "\e682";
}
.icon-download:before {
	content: "\e670";
}
.icon-globe:before {
	content: "\e652";
}
.icon-flag:before {
	content: "\e644";
}
.icon-cancel-circle:before {
	content: "\e665";
}
.icon-loop:before {
	content: "\e65d";
}
.icon-insert-template:before {
	content: "\e64d";
}
.icon-console:before {
	content: "\e628";
}
.icon-file-css:before {
	content: "\e629";
}
.icon-screen:before {
	content: "\e60b";
}
.icon-help:before {
	content: "\e67a";
}
.icon-feather-o:before {
	content: "\e62f";
}
.icon-compass:before {
	content: "\e61d";
}
.icon-graduation:before {
	content: "\e65a";
}
.icon-box:before {
	content: "\e63b";
}
.icon-flow-cascade:before {
	content: "\e61e";
}
.icon-flow-branch:before {
	content: "\e60c";
}
.icon-flow-tree:before {
	content: "\e60d";
}
.icon-calendar-o:before {
	content: "\e662";
}
.icon-ban:before {
	content: "\e64c";
}
.icon-flag-checkered:before {
	content: "\e645";
}
.icon-envelope-o:before {
	content: "\e63d";
}
.icon-envelope:before {
	content: "\e63e";
}
.icon-cog:before {
	content: "\e625";
}
.icon-puzzle-piece:before {
	content: "\e61f";
}
.icon-folder-open-o:before {
	content: "\e60e";
}
.icon-folder-o:before {
	content: "\e60f";
}
.icon-thumbs-o-down:before {
	content: "\e609";
}
.icon-thumbs-o-up:before {
	content: "\e60a";
}
.icon-enlarge:before {
	content: "\e650";
}
.icon-shield:before {
	content: "\e646";
}
.icon-factory:before {
	content: "\e616";
}
.icon-unlocked:before {
	content: "\e612";
}
.icon-locked:before {
	content: "\e613";
}
.icon-uniE602:before {
	content: "\e602";
}
