#filter-box {
    padding-left: 35px;
    width: 15em;
}

time {
    white-space: nowrap;
}

#filter-container {
    margin: 1em;
    font-size: 1em;
}
.plugin-manager__categories {
    margin-top: 0.25em;
}

.plugin-manager__category-label:link,
.plugin-manager__category-label:visited {
    display: inline-block;
    border: 1px solid #ccc;
    background-color: #fbfbfb;
    color: #333;
    border-radius: 4px;
    font-size: 0.75rem;
    font-weight: 500;
    padding: 0 0.5rem;
    margin: 0 0.25rem 0.25rem 0;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    transition: all 0.15s ease-in-out;
}
.plugin-manager__category-label:hover,
.plugin-manager__category-label:focus,
.plugin-manager__category-label:active {
    background-color: #f2f2f2;
    border-color:  #333;
}

.plugin-manager__search-input {
    position: static;
    padding: 0.25rem 0.1rem 0.25rem 2.5rem;
    margin: 0;

    font-size: 1rem;
    line-height: 1.5;
    color: #4d545d;

    border-radius: 4px;
    border: 1px solid grey;
    outline: none;
}

.plugin-manager__search {
    position: relative;
}

.plugin-manager__icon-leading {
    position: absolute;
    left: -2px;
    top: -3px;
    font-size: 15px;
    padding: 0.5rem;
}

.main-search__icon-leading {
    left: 0;
    pointer-events: none;
}


.hidden-by-default {
}
.hidden {
    display: none;
}
