#filter-box {
    background: white url('search.gif') no-repeat 2px center;
    padding-left: 20px;
    width: 15em;
}

time {
    white-space: nowrap;
}

#filter-container {
    margin: 1em;
    text-align: right;
}
.plugin-manager__categories {
    margin-top: 0.25em;
}

.plugin-manager__category-label {
    display: inline-block;
    border: 1px solid #ccc;
    background-color: #eee;
    border-radius: 4px;
    font-size: 0.75rem;
    padding: 0 0.5rem;
    margin: 0 0.25rem 0.25rem 0;
}
