html {
  height: 100%;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  color: var(--text-color);
  scroll-padding-top: calc(var(--header-height) + var(--section-padding));

  $scrollbar-color: oklch(from var(--text-color-secondary) l c h / 0.35);

  scrollbar-color: $scrollbar-color $scrollbar-color;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--background);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

::selection {
  background: var(--selection-color);
}
