@use "../base/breakpoints";

.app-page-body {
  position: relative;
  display: grid;
  border: var(--jenkins-border);
  margin-inline: 0.375rem;
  height: calc(100vh - var(--header-height) - 0.375rem);
  border-radius: var(--form-input-border-radius);
  overflow: hidden;

  --top: color-mix(
          in sRGB,
          white 1%,
          var(--card-background)
  );
  --background: var(--card-background);

  background-color: var(--card-background);
  background-image: linear-gradient(var(--top), var(--background));
  background-size: 100% 90vh;
  background-repeat: no-repeat;
  isolation: isolate;

  &:has(> .app-page-body__sidebar) {
    grid-template-columns: auto 1fr;
  }

  & > .app-page-body__sidebar {
    width: 320px;
    padding: var(--section-padding);
    height: calc(100vh - var(--header-height) - 0.375rem);

    // Remove this when sidepanels no longer contain widgets
    #tasks {
      margin-bottom: 1rem;
    }
  }

  & > .app-page-body__contents {
    padding: var(--section-padding);
    padding-bottom: 0;
  }

  &:not(:has(#side-panel .pane, #side-panel .jenkins-card)) {
    & > .app-page-body__sidebar {
      overflow-y: auto;
      border-right: var(--jenkins-border);
    }

    & > .app-page-body__contents {
      overflow-y: auto;
    }
  }

  // Remove this when sidepanels no longer contain widgets
  &:has(#side-panel .pane, #side-panel .jenkins-card) {
    overflow-y: auto;

    & > .app-page-body__sidebar {
      padding-right: 0;
    }
  }
}

.noemotion {
  margin-bottom: var(--section-padding);

  &--narrow {
    max-width: 900px;
    margin-inline: auto;
  }

  &--wide {
    width: 70vw;
    max-width: 1700px;
    margin-inline: auto;
  }
}

.page-footer {
  display: none;
}

#page-body.clear::after {
  clear: both;
  content: "";
  display: table;
}

// Clearfixes extracted from responsive-grid.css as they essential
.clearfix::before,
.clearfix::after,
.container::before,
.container::after,
.container-fluid::before,
.container-fluid::after,
.row::before,
.row::after,
.form-horizontal .form-group::before,
.form-horizontal .form-group::after,
.btn-toolbar::before,
.btn-toolbar::after,
.btn-group-vertical > .btn-group::before,
.btn-group-vertical > .btn-group::after,
.nav::before,
.nav::after,
.navbar::before,
.navbar::after,
.navbar-header::before,
.navbar-header::after,
.navbar-collapse::before,
.navbar-collapse::after,
.pager::before,
.pager::after,
.panel-body::before,
.panel-body::after,
.modal-footer::before,
.modal-footer::after {
  display: table;
  content: " ";
}

.clearfix::after,
.container::after,
.container-fluid::after,
.row::after,
.form-horizontal .form-group::after,
.btn-toolbar::after,
.btn-group-vertical > .btn-group::after,
.nav::after,
.navbar::after,
.navbar-header::after,
.navbar-collapse::after,
.pager::after,
.panel-body::after,
.modal-footer::after {
  clear: both;
}
