<?xml version='1.0' encoding='UTF-8'?>
<slave>
  <name>Foo</name>
  <description></description>
  <remoteFS>/myfs/jenkins/agent</remoteFS>
  <numExecutors>1</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.slaves.JNLPLauncher">
    <!-- No WorkDir settings  -->
  </launcher>
  <label>foo bar</label>
  <nodeProperties/>
</slave>
