/*
 * General/layout mixins
 */

.no-select{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;
}
.text-select{
  -webkit-touch-callout: text; /* iOS Safari */
  -webkit-user-select: text;   /* Chrome/Safari/Opera */
  -khtml-user-select: text;    /* Konqueror */
  -moz-user-select: text;      /* Firefox */
  -ms-user-select: text;       /* IE/Edge */
  user-select: text;
}

/*
 * Border radius
 */
.border-radius(@border-radius) {
  -webkit-border-radius: @border-radius;
  -moz-border-radius: @border-radius;
  border-radius: @border-radius;
}
.border-radius-top-left(@border-radius) {
  -webkit-border-top-left-radius: @border-radius;
  -moz-border-top-left-radius: @border-radius;
  border-top-left-radius: @border-radius;
}
.border-radius-top-right(@border-radius) {
  -webkit-border-top-right-radius: @border-radius;
  -moz-border-top-right-radius: @border-radius;
  border-top-right-radius: @border-radius;
}
.border-radius-bottom-left(@border-radius) {
  -webkit-border-bottom-left-radius: @border-radius;
  -moz-border-bottom-left-radius: @border-radius;
  border-top-bottom-radius: @border-radius;
}
.border-radius-bottom-right(@border-radius) {
  -webkit-border-bottom-right-radius: @border-radius;
  -moz-border-bottom-right-radius: @border-radius;
  border-top-bottom-radius: @border-radius;
}
.border-radius-top(@border-radius) {
  .border-radius-top-left(@border-radius);
  .border-radius-top-right(@border-radius);
}
.border-radius-bottom(@border-radius) {
  .border-radius-bottom-left(@border-radius);
  .border-radius-bottom-right(@border-radius);
}
.border-radius-left(@border-radius) {
  .border-radius-top-left(@border-radius);
  .border-radius-bottom-left(@border-radius);
}
.border-radius-right(@border-radius) {
  .border-radius-top-right(@border-radius);
  .border-radius-bottom-right(@border-radius);
}

.hidden {
  display: none;
}
