@brightest::#fff;
@birghtest:#fff;
@bright:#f9f9f9;
@medium-translucent: rgba(255,255,255,.75);

@pale-green-trans:rgba(245, 249, 239,.75);
@j-pale-blue:#C0D8E2;




@shade-hint: rgba(0,0,0,.025);
@shade: rgba(0,0,0,.1);

@light-border: #f3f3f3;
@light-backgrond: #eee;
@solid-border: #ccc;
@radius:3px;

@line-blue: #69c;
@line-green: #acb;

@danger: #d24939;
@danger-line:#be3a2b;
@danger-dark:#a23225;
@danger-dark-line:#942e22;

@input-line-height:2.25em;